extends ../layout
block content
    style.
      .qrcode{position: fixed;bottom:210px;border-radius: 2px;text-align: center;color: #717375;font-size: 12px;}
      .right{right: 0px;}
      .fa{font-size:36px;}
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center 数据统计
            hr
            ul.population-table
                li
                    span.tag 创立时间:&#9;
                    span.text-primary #{daysRunning}
                    | 天以前
                if  user
                    li
                        span.tag 参与学习:&#9;
                        span.text-primary #{camperCount}
                        | 个学员
                li
                    span.tag 参与翻译:&#9;
                    span.text-primary 17
                    | 只猴子
                li
                    span.tag 已经完成:&#9;
                    span.text-primary #{globalCompletedCount}
                    | 个挑战
    .spacer
    .row
      dl.qrcode.right.hidden-xs
        dt
          img(src='images/qrcode_for_nearest.jpg', width='120px')
        dd 微信搜索freecodecamp
        span 更多好东西等你来发现
    .spacer
    .row#about-us
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center 传送门
            hr
            table.table.link-table
                tr
                    td.text-center
                        img(src="https://www.zhihu.com/favicon.ico")
                    td
                        a(href="https://www.zhihu.com/search?type=content&q=freecodecamp", target='_blank') 知乎
                tr
                    td.text-center
                        img(src="/images/weixin.png" width="40px")
                    td
                        a(href="https://mp.weixin.qq.com/s?__biz=MzAxMjkxNTY2OQ==&mid=2247483684&idx=1&sn=6bdd884038025aa12330255a20d81d01&scene=1&srcid=0518SnCgDHGWP6JQQAWdLaJH&key=f5c31ae61525f82e8576092f748bfa57bbfd4be05c966b20c7390f756f4abd27303a08660ee93533a464f76684bd0857&ascene=0&uin=MTMzODU3OTQwMA%3D%3D&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.10.5+build(14F1713)&version=11020201&pass_ticket=AhL55zVNBJAMny%2B1IhWY2r6q%2BKV%2Bg8cCgUX05k3LWOnUJMz8SfYiLAPGoeagk9nv", target='_blank') 微信
                tr
                    td.text-center
                        img(src="/images/jianshu.png")
                    td
                        a(href="http://www.jianshu.com/search?q=freecodecamp&type=notes", target='_blank') 简书
                tr
                    td.text-center
                        img(src="/images/weibo.png")
                    td
                        a(href="http://weibo.com/FreeCodeCamp", target='_blank') 微博
                tr
                    td.text-center
                        img(src="https://www.oschina.net/img/favicon.ico")
                    td
                        a(href="http://git.oschina.net/freecodecamp/freecodecamp.cn", target='_blank') 开源中国
                tr
                    td.text-center
                        i.fa.fa-github
                    td
                        a(href="//github.com/freecodecampchina/freecodecamp.cn", target='_blank') GitHub仓库
                tr
                    td.text-center
                        i.fa.fa-flask
                    td
                        a(href="/labs") 学员完成的项目
                tr
                    td.text-center
                        i.fa.fa-comment
                    td
                        a(href="/stories") 程序猿的故事
                tr
                    td.text-center
                        i.fa.fa-medium
                    td
                        a(href='//medium.freecodecamp.com', target='_blank') Medium平台
                tr
                    td.text-center
                        i.fa.fa-twitch
                    td
                        a(href="//twitch.tv/freecodecamp", target='_blank') Twitch.tv频道
                tr
                    td.text-center
                        i.fa.fa-reddit
                    td
                        a(href="//www.reddit.com/r/freecodecamp", target='_blank') Reddit讨论组
                tr
                    td.text-center
                        i.fa.fa-linkedin
                    td
                        a(href="//www.linkedin.com/edu/school?id=166029", target='_blank') LinkedIn大学主页
                tr
                    td.text-center
                        i.fa.fa-twitter
                    td
                        a(href="//twitter.com/freecodecamp", target='_blank') Twitter主页
                tr
                    td.text-center
                        i.fa.fa-facebook
                    td
                        a(href="//facebook.com/freecodecamp") Facebook主页
                tr
                    td.text-center
                        i.fa.fa-lock
                    td
                        a(href="/privacy") 隐私策略
                tr
                    td.text-center
                        i.fa.fa-balance-scale
                    td
                        a(href="/code-of-conduct") 行为规范
                tr
                    td.text-center
                        i.fa.fa-university
                    td
                        a(href="/academic-honesty") 学术诚实守则
                tr
                    td.text-center
                        i.fa.fa-book
                    td
                        a(href="/terms") 服务条款
                tr
                    td.text-center
                        i.fa.fa-heart
                    td
                        a(href="/how-nonprofit-projects-work") 如何运转公益项目
    .spacer
    .row#common-question
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center 常见问题
            hr
            html
                <h4>FreeCodeCamp 是什么?</h4>
                <p class="negative-15">我们是一个帮助你学习编程的开源社区。</p>
                <h4>如何帮助我学习编程？</h4>
                <p class="negative-15">你可以通过我们的自学编程挑战，构建项目，获得证书，还可以参加在线下活动。</p>
                <h4>FreeCodeCamp 可以帮我获得一份软件工程师的工作吗？</h4>
                <p class="negative-15">可以，数以百计的人在完成我们的编程挑战后获得了软件工程师的工作。</p>
                <h4>FreeCodeCamp 是一个编码训练营吗？</h4>
                <p class="negative-15">不是，许多编码训练营使用FreeCodeCamp作为他们课程的一部分。</p>
                <h4>FreeCodeCamp 彻底免费吗？</h4>
                <p class="negative-15">是的，我们的课程、项目、证书全都是免费的。</p>
                <h4>FreeCodeCamp 可以提供什么证书？</h4>
                <p class="negative-15">FreeCodeCamp 提供4个认证证书，它们是：前端开发认证、数据可视化认证、后端开发认证、全栈开发认证。</p>
                <h4>我如何通过 FreeCodeCamp 帮助公益组织？</h4>
                <p class="negative-15">当你完成了前面3个认证，你将会在一个志愿者项目经理的管理下，和多个小伙伴一起完成一些项目。</p>
                <h4>FreeCodeCamp 为公益组织节省了多少钱？</h4>
                <p class="negative-15">FreeCodeCamp 已经为公益组织节省了近一百万美元。</p>
                <h4>有什么方式可以让我在获得认证之前就能帮助公益组织？</h4>
                <p class="negative-15">是的，你可以按照自己的的学习计划来<a href="/commit">捐助公益组织</a>。</p>
                <h4>学完整个 FreeCodeCamp 课程需要花多长时间？</h4>
                <p class="negative-15">获取四个证书需要大约2080个小时，也就是一年时间。我们是完全自学的，所以你可以掌握自己的学习进度。</p>
                <h4>FreeCodeCamp 可以代替大学学历吗？</h4>
                <p class="negative-15">不可以，请不要辍学来学习 FreeCodeCamp，你应该一边上大学一边在 FreeCodeCamp 上学习。因为大学里教给你的不仅仅是专业技术，还有宽阔的视野和学习的氛围。</p>
                <h4>我可以使用 FreeCodeCamp 作为我课堂的一部分吗？</h4>
                <p class="negative-15">当然可以，许多高中、大学和培训班都把 FreeCodeCamp 作为他们的课程作业。我们是开源的，不需要任何许可证和授权，你可以自由使用。</p>
                <h4>我应该按顺序学完所有课程吗？</h4>
                <p class="negative-15">我们推荐你按照顺序来学习课程，但是你也可以自由跳跃。</p>
                <h4>我必须使用 CodePen 来完成我的前端项目吗？</h4>
                <p class="negative-15">只要你的代码是开放的，而且有一个在线演示，你可以用任何在线代码编辑器。</p>
                <h4>你们什么时候发布 React、Sass、和 D3 课程?</h4>
                <p class="negative-15">我们将在2016年秋天发布这些课程。与此同时，已经有人通过参考这些课程的官方文档来完成了我们的 React/Sass 和 D3 项目。</p>
                <h4>我可以雇佣 FreeCodeCamp 的校友吗？</h4>
                <p class="negative-15">你可以通过我们的<a href="https://www.linkedin.com/edu/school?id=166029" target="_blank">校友网络</a>来找到他们。</p>
                <h4>FreeCodeCamp 是如何启动的？</h4>
                <p class="negative-15">2014年<a href="https://www.quora.com/profile/Quincy-Larson" target="_blank">Quincy</a> 创立了这个开源社区，他现在是我们诸多活跃贡献者之一。</p>
                <h4>FreeCodeCamp 是如何运转的？</h4>
                <p class="negative-15">Quincy 在加州建立一个叫FreeCodeCamp的机构来支撑 FreeCodeCamp 社区的运转。<a href="https://gitter.im/berkeleytrue" target="_blank">Berkeley</a>负责基础设施，<a href="https://gitter.im/codenonprofit" target="_blank">Michael</a> 负责公益项目。</p>
                <h4>我可以在 FreeCodeCamp 上找份工作吗？</h4>
                <p class="negative-15">当然可以，只要你学习得足够出色，我们会把你推荐到各大公司，例如：GitHub、Spotify、Google、Facebook等。</p>
                <h4>我可以投资 FreeCodeCamp 吗？</h4>
                <p class="negative-15">我们都是自筹资金，并保持低成本运营，不需要外部投资。</p>
    .spacer
    .row#contact-us
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center  联系人
            table.table.table-stripe
                tr
                    td 中文社区 (
                        a(href='mailto:jin@freecodecamp.cn') jin@freecodecamp.cn
                        | )
                    td
                        a(href='https://gitter.im/JackJin2014' target='_blank') @JackJin
                tr
                    td 英文社区 (
                        a(href='mailto:team@freecodecamp.com') team@freecodecamp.com
                        | )
                    td
                        a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                tr
                    td Facebook 主页
                    td
                        a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                tr
                    td Twitter 流
                    td
                        a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                tr
                    td Medium 平台
                    td
                        a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                tr
                    td 媒体合作
                    td
                        a(href='https://gitter.im/QuincyLarson' target='_blank') @QuincyLarson
                tr
                    td 开源代码贡献
                    td
                        a(href='https://gitter.im/BerkeleyTrue' target='_blank') @BerkeleyTrue
                tr
                    td 服务器问题
                    td
                        a(href='https://gitter.im/BerkeleyTrue' target='_blank') @BerkeleyTrue
                tr
                    td 非盈利项目
                    td
                        a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                tr
                    td 志愿者
                    td
                        a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                tr
                    td Commit program
                    td
                        a(href='https://gitter.im/CodeNonprofit' target='_blank') @CodeNonprofit
                tr
                    td Video 挑战课程
                    td
                        a(href='https://gitter.im/BrianaMarie' target='_blank') @BrianaMarie
                tr
                    td Twitch.tv 频道
                    td
                        a(href='https://gitter.im/Septimus' target='_blank') @Septimus
                tr
                    td Youtube 频道
                    td
                        a(href='https://gitter.im/Septimus' target='_blank') @Septimus
                tr
                    td JavaScript 课程
                    td
                        a(href='https://gitter.im/SaintPeter' target='_blank') @SaintPeter
                tr
                    td 数据科学与开放数据
                    td
                        a(href='https://gitter.im/Evaristoc' target='_blank') @Evaristoc
                tr
                    td CamperBot
                    td
                        a(href='https://gitter.im/LTegman' target='_blank') @LTegman
                tr
                    td 翻译和国际化
                    td
                        a(href='https://gitter.im/Vtamara' target='_blank') @Vtamara
                tr
                    td Wiki
                    td
                        a(href='https://gitter.im/Rafase282' target='_blank') @Rafase282
                tr
                    td 营地
                    td
                        a(href='https://gitter.im/Hallaathrad' target='_blank') @Hallaathrad
