doctype html
html(ng-app='app')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=640px,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5,user-scalable=no')
    title 苏州全民编程挑战赛
    // 新 Bootstrap 核心 CSS 文件
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    style.
      body{margin:0;font-size:16px;}
      .content{width:50%;margin:0 auto;display:block;}
      header{background-image: url("images/background.png");height:500px;color:white;}
      #logo{display:block;margin:0 auto;padding-top:3%;}
      #fcc{width: 100%;padding-top: 15px;}
      h1,h2,h3,h4,h5{margin:0;}
      h1{text-align:center;font-size:3em;padding-top:20px;}
      h2{text-align:center;padding-top:20px;}
      h3{text-align:center;font-size:1.5em;padding-top:20px;}
      #myModal{color:#333;}
      .join{
      cursor: pointer;
      font-size: 1.5em;
      width: 120px;
      border-radius: 20px;
      padding: 10px;
      text-align: center;
      margin:0 auto;
      margin-top: 20px;
      background: orange;
      }
      .join:hover{font-weight: bold;}
      h4{font-size:1.5em;}
      h5{
      color: #4CAF50;
      font-size: 1.5em;
      }
      .chapter1{
      margin: 0 auto;
      text-align: center;
      width:90%;
      }
      .chapter2{
      width:90%;
      margin: 0 auto;
      text-align: center;
      padding:15px;
      }
      .category{
      color:#333;
      text-align:center;
      margin-top:4%;
      margin-left:4%;
      }
      span{color:#4CAF50;}
      table{color:#333;border-collapse: collapse;margin-top: 15px;}
      th{background-color:#4CAF50;color:white;}
      th,td{padding:10px;}
      td{text-align:center;}
      a{color:#333;text-decoration: underline;}
      .list{color: white;background: #4CAF50;text-align:center;}
      i{font-style:normal;color:orange;}
      #notice{color: #FF9800;}
      #date{padding-bottom:10px;}
      .img{margin: 0 auto;  display: block;}
      .whitespace{padding-top:20px;padding-bottom:20px;}
      .img-responsive{margin: 0 auto;display: block;width: 640px;}
      .internet{line-height: 61px;margin: 0;font-size: 1.5em;text-align:center;color:red;}
      .green{color:#4CAF50;}
      .qrcode_panel{
      position: fixed;
      bottom: 0px;
      right: 0px;
      background-color: #fff;
      padding: 5px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      text-align: center;
      color: #717375;
      font-size: 12px
      }
      dd{margin: 0 auto;margin-top: 5px;}
      .text-center{text-align:center;}
      .red{color:#F44336;}
      video{margin-top: -5.2%;}
      .left{text-align:center;padding-top:20px;padding-bottom: 10px;}
      p.center{text-align:center;font-size:24px;}
      .btn-orange{background:orange;display:block;margin:0 auto;border:none;margin-top: 20px;margin-bottom: 20px;}
      .login{vertical-align: -7px;}
  body
    dl.qrcode_panel
      dt
        img(src='images/qrcode_for_nearest.jpg', width='102px')
      dd
        | 扫描并关注freecodecamp
        br
        | 通过微信公众号报名参加比赛
    header
      img#logo(src='images/wilddog.png')
      h1 野狗杯
      h2 苏州全民在线编程挑战赛
      h3 06.05 -- 07.03
      // Button trigger modal
      button.btn.btn-orange.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
        | 立即报名
      // Modal
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title(style='text-align:center;') FreeCodeCamp 比赛报名入口
            .modal-body
              form.form-horizontal(ng-controller='form')
                .form-group
                  label.col-sm-2.control-label(for='username') 用户名
                  .col-sm-10
                    input#username.form-control(type='text', ng-model='username', name='username', placeholder='我们需要你的FCC用户名', required='')
                    span 如果你没有FCC用户名，
                    a(href='/login') 请先登录FCC
                .form-group
                  label.col-sm-2.control-label(for='telphone') 手机号
                  .col-sm-10
                    input#telphone.form-control(type='tel', ng-model='telphone', name='telphone', placeholder='便于我们通知你领奖品哦', required='')
                .form-group
                  label.col-sm-2.control-label(for='category') 选择组别
                  .col-sm-10
                .form-group
                  label.col-sm-2.control-label(for='ensure')
                    input(type='radio', name='category', value='master')
                  .col-sm-10(style='line-height: 38px;')
                    p(style='font-size:12px;') 专业组（面向在职程序员和计算机高手）
                .form-group
                  label.col-sm-2.control-label(for='ensure')
                    input(type='radio', name='category', value='newer')
                  .col-sm-10(style='line-height: 38px;')
                    p(style='font-size:12px;') 业余组（面向非程序员和计算机小白）
                .form-group
                  label.col-sm-2.control-label(for='ensure')
                    input(type='radio', name='category', value='women')
                  .col-sm-10(style='line-height: 38px;')
                    p(style='font-size:12px;') 程序媛新秀组（只面向女性，男性选择该组无法获奖）
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button#commit.btn.btn-default(ng-click='commit();') 确定无误，提交
                    // <input type="submit" id="submit" class="btn btn-default" value="提交">
      p.center 人人皆可编程
    .chapter2
      h4 比赛介绍
      p(style='padding-top:20px;') 本次挑战赛由苏州工业园区科信局指导、苏州开发者联盟主办、猿生态开发者社区承办。
      p 本次挑战赛面向苏州开发者、学生、及编程爱好者，预计5000+线上参与。
      p 全民编程时代已经来临，编程技能将会成为一项基本素质，“全民编程” 未来也许会上升为国家战略。
      p 本次挑战赛旨在提升苏州开发者技能及技术交流氛围，积极营造“人人皆可编程”的氛围。
    .chapter2
      h4 赛程
      #svg
        // Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
        svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 1800 800', style='enable-background:new 0 0 1800 800;', xml:space='preserve')
          style(type='text/css').
            .st0{fill:#4CAF50;}
            .st1{fill:#ABBF7B;}
            .st2{fill:#C9E091;}
            .st3{fill:#C9E091;stroke:#4CAF50;stroke-width:6;stroke-miterlimit:10;}
          g#Layer_1
            rect.st0(y='392.5', width='1800', height='15')
            g#_x35_
              g
                g
                  g
                    path.st1(d='M1509.7,444.3l42.4,42.5c5,2.6,10.3,4.8,15.7,6.5l-64.5-64.7C1504.9,434,1507.1,439.3,1509.7,444.3z')
                    path.st1(d='M1669.9,466.5l-140-140.2c-1.6,1.5-3.1,3-4.6,4.6l139.9,140.2C1666.8,469.7,1668.4,468.1,1669.9,466.5z')
                    path.st1(d='M1660.3,475.4l-139.3-139.6c-1.4,1.7-2.7,3.4-4,5.2l138.1,138.5C1657,478.2,1658.7,476.8,1660.3,475.4z')
                    path.st1(d='M1690.9,432.2l-126.6-126.9c-2.2,0.8-4.4,1.7-6.6,2.6l130.5,130.9C1689.2,436.6,1690.1,434.4,1690.9,432.2\
                    z')
                    path.st1(d='M1649.7,483.1l-136.3-136.5c-1.2,1.9-2.3,3.9-3.4,5.9l133.7,134C1645.8,485.4,1647.8,484.3,1649.7,483.1z')
                    path.st1(d='M1678.2,456.4L1540.1,318c-1.8,1.3-3.5,2.6-5.2,4l139.3,139.6C1675.6,459.9,1676.9,458.2,1678.2,456.4z')
                    path.st1(d='M1608.6,497.3l-109.2-109.6c-0.3,2.8-0.5,5.7-0.6,8.6L1600,497.8C1602.9,497.8,1605.8,497.6,1608.6,497.3z\
                    ')
                    path.st1(d='M1637.6,489.5l-130.5-130.8c-1,2.2-1.8,4.4-2.6,6.6l126.6,126.9C1633.3,491.3,1635.5,490.5,1637.6,489.5z')
                    path.st1(d='M1580,496.4c3.5,0.6,7,1.1,10.5,1.3l-91.6-91.9c0.3,3.6,0.7,7.1,1.3,10.5L1580,496.4z')
                    path.st1(d='M1694.8,417.7l-116.1-116.4c-2.5,0.5-5,1.1-7.5,1.8l121.9,122.1C1693.8,422.7,1694.3,420.2,1694.8,417.7z')
                    path.st1(d='M1624,494.4l-121.8-122.1c-0.7,2.4-1.2,4.9-1.7,7.4l116.1,116.4C1619.2,495.6,1621.6,495,1624,494.4z')
                    path.st1(d='M1685.2,445l-133.7-134c-2,1.1-4,2.2-5.9,3.4L1681.9,451C1683,448.9,1684.2,447,1685.2,445z')
                    path.st1(d='M1695.1,381.1l-79.8-80c-3.5-0.6-7-1.1-10.5-1.3l91.7,91.9C1696.2,388.1,1695.7,384.6,1695.1,381.1z')
                    path.st1(d='M1685.6,353.2l-42.5-42.6c-5-2.6-10.3-4.8-15.7-6.5l64.6,64.8C1690.4,363.4,1688.2,358.2,1685.6,353.2z')
                    path.st1(d='M1696.6,401.1l-101.2-101.6c-2.9,0.1-5.8,0.3-8.6,0.6l109.3,109.6C1696.4,406.9,1696.6,404,1696.6,401.1z')
                    path.st2(d='M1643.1,310.6l42.5,42.6C1676.2,334.9,1661.2,320,1643.1,310.6z')
                    path.st2(d='M1692.1,368.9l-64.6-64.8c-4-1.3-8.1-2.3-12.2-3l79.8,80C1694.4,376.9,1693.3,372.8,1692.1,368.9z')
                    path.st2(d='M1696.7,398.7c0-2.4-0.1-4.7-0.3-7.1l-91.7-91.8c-2.3-0.2-4.7-0.3-7.1-0.3c-0.8,0-1.6,0-2.4,0L1696.5,401\
                    C1696.6,400.3,1696.7,399.5,1696.7,398.7z')
                    path.st2(d='M1696,409.7l-109.2-109.6c-2.7,0.3-5.4,0.7-8,1.2l116.1,116.4C1695.3,415.1,1695.8,412.4,1696,409.7z')
                    path.st2(d='M1693.1,425.2l-121.8-122.1c-2.4,0.7-4.7,1.4-7,2.2l126.6,126.9C1691.7,429.9,1692.4,427.6,1693.1,425.2z')
                    path.st2(d='M1688.2,438.8l-130.5-130.9c-2.1,0.9-4.2,1.9-6.2,3l133.7,134C1686.3,443,1687.3,440.9,1688.2,438.8z')
                    path.st2(d='M1681.9,450.9l-136.3-136.6c-1.9,1.2-3.7,2.4-5.5,3.7l138.1,138.4C1679.5,454.6,1680.7,452.7,1681.9,450.9\
                    z')
                    path.st2(d='M1674.2,461.6L1535,322c-1.7,1.4-3.3,2.8-4.9,4.3l139.9,140.2C1671.4,464.9,1672.8,463.3,1674.2,461.6z')
                    path.st2(d='M1665.3,471.1l-140-140.2c-1.5,1.6-2.9,3.2-4.3,4.9l139.3,139.6C1662,474.1,1663.7,472.6,1665.3,471.1z')
                    path.st2(d='M1655.2,479.5l-138.1-138.4c-1.3,1.8-2.5,3.6-3.7,5.5l136.2,136.5C1651.6,482,1653.4,480.7,1655.2,479.5z')
                    path.st2(d='M1643.8,486.5l-133.7-134c-1.1,2-2.1,4.1-3,6.2l130.5,130.8C1639.7,488.6,1641.8,487.6,1643.8,486.5z')
                    path.st2(d='M1631,492.1l-126.6-126.8c-0.8,2.3-1.6,4.6-2.2,7L1624,494.4C1626.4,493.7,1628.7,493,1631,492.1z')
                    path.st2(d='M1616.6,496.1l-116-116.4c-0.5,2.6-0.9,5.3-1.2,8l109.3,109.6C1611.3,497,1614,496.6,1616.6,496.1z')
                    path.st2(d='M1597.7,497.9c0.8,0,1.6,0,2.3,0l-101.2-101.5c0,0.8,0,1.6,0,2.3c0,2.4,0.1,4.8,0.3,7.1l91.7,91.9\
                    C1592.9,497.8,1595.3,497.9,1597.7,497.9z')
                    path.st2(d='M1503.2,428.6l64.6,64.8c4,1.3,8.1,2.3,12.2,3l-79.8-80C1501,420.5,1502,424.6,1503.2,428.6z')
                    path.st2(d='M1552.2,486.9l-42.4-42.5C1519.2,462.5,1534.1,477.4,1552.2,486.9z')
                  path.st0(d='M1597.8,310.6c48.4,0,87.7,39.4,87.7,87.9s-39.3,87.9-87.7,87.9s-87.7-39.4-87.7-87.9\
                  S1549.5,310.6,1597.8,310.6 M1597.8,298.8c-54.9,0-99.5,44.6-99.5,99.7s44.5,99.7,99.5,99.7c55,0,99.5-44.6,99.5-99.7\
                  S1652.8,298.8,1597.8,298.8L1597.8,298.8z')
                path.st0(d='M1596.8,311.1c48.4,0,87.8,39.5,87.8,88s-39.4,88-87.8,88c-48.4,0-87.8-39.5-87.8-88\
                S1548.4,311.1,1596.8,311.1 M1596.8,299.3c-55,0-99.6,44.7-99.6,99.8s44.6,99.7,99.6,99.7c55,0,99.6-44.7,99.6-99.8\
                S1651.8,299.3,1596.8,299.3L1596.8,299.3z')
                g
                  g#Layer_1_52_
                    g
                      path.st3(d='M1573.4,394.8l3,0l1.5-2.6c0.7-1.3,1.7-2.4,2.8-3.3l12.6-23.4l-15-27.9c-1.4-2.6-4.5-3.8-7.3-2.8l-24,8.9\
                      c-1.7,0.6-3,2-3.6,3.7c-0.6,1.7-0.4,3.6,0.6,5.1l26.9,42.5C1571.6,394.9,1572.5,394.8,1573.4,394.8z')
                      path.st3(d='M1649.9,347.5c-0.6-1.7-1.9-3.1-3.6-3.7l-24-8.9c-2.8-1-5.9,0.1-7.3,2.8l-26.2,48.7\
                      c1.8,0.1,3.6,0.6,5.2,1.5l2.6,1.5l2.6-1.5c1.8-1,3.8-1.6,5.9-1.6c4.2,0,8.2,2.3,10.3,5.9l1.5,2.6l3,0c0.9,0,1.8,0.1,2.6,0.3\
                      l26.9-42.5C1650.3,351.1,1650.5,349.2,1649.9,347.5z')
                      path.st0(d='M1631.3,416.2l-5.5-3.2l0-6.4c0-3.3-2.7-5.9-5.9-5.9l-6.4,0l-3.2-5.5c-1.6-2.8-5.3-3.8-8.1-2.2l-5.5,3.2\
                      l-5.5-3.2c-2.8-1.6-6.5-0.7-8.1,2.2l-3.2,5.5l-6.4,0c-3.3,0-5.9,2.7-5.9,5.9l0,6.4l-5.5,3.2c-2.8,1.6-3.8,5.3-2.2,8.1l3.2,5.5\
                      l-3.2,5.5c-1.6,2.8-0.7,6.5,2.2,8.1l5.5,3.2l0,6.4c0,3.3,2.7,5.9,5.9,5.9l6.4,0l3.2,5.5c1.6,2.8,5.3,3.8,8.1,2.2l5.5-3.2\
                      l5.5,3.2c0.9,0.5,2,0.8,3,0.8c2.1,0,4-1.1,5.2-3l3.2-5.5l6.4,0c3.3,0,5.9-2.7,5.9-5.9l0-6.4l5.5-3.2c2.8-1.6,3.8-5.3,2.2-8.1\
                      l-3.2-5.5l3.2-5.5C1635.1,421.5,1634.1,417.9,1631.3,416.2z M1619.3,425.3l-11.4,8.3l4.3,13.3c0.4,1.2,0,2.4-1,3.1\
                      c-0.5,0.4-1.1,0.5-1.6,0.5c-0.6,0-1.2-0.2-1.7-0.5l-11.4-8.3l-11.4,8.3c-1,0.7-2.3,0.7-3.3,0c-1-0.7-1.4-2-1-3.1l4.3-13.3\
                      l-11.4-8.3c-1-0.7-1.4-2-1-3.1c0.4-1.1,1.5-1.9,2.7-1.9h14l4.3-13.3c0.4-1.2,1.5-1.9,2.7-1.9s2.3,0.8,2.7,1.9l4.3,13.3h14\
                      c1.2,0,2.3,0.8,2.7,1.9C1620.7,423.4,1620.3,424.6,1619.3,425.3z')
            g
              rect.st0(x='1513.9', y='179.9', width='164.3', height='7.3')
              rect.st0(x='1545.1', y='193', width='101.7', height='7.3')
              rect.st0(x='1568.3', y='206.1', width='55.3', height='7.3')
              rect.st0(x='1591', y='219.2', width='10', height='91.4')
            g#_x34_
              g
                g
                  g
                    path.st1(d='M1161.1,444.3l42.4,42.5c5,2.6,10.3,4.8,15.7,6.5l-64.5-64.7C1156.3,434,1158.5,439.3,1161.1,444.3z')
                    path.st1(d='M1321.3,466.5l-140-140.2c-1.6,1.5-3.1,3-4.6,4.6l139.9,140.2C1318.2,469.7,1319.8,468.1,1321.3,466.5z')
                    path.st1(d='M1311.7,475.4l-139.3-139.6c-1.4,1.7-2.7,3.4-4,5.2l138.1,138.5C1308.3,478.2,1310,476.8,1311.7,475.4z')
                    path.st1(d='M1342.2,432.2l-126.6-126.9c-2.2,0.8-4.4,1.7-6.6,2.6l130.5,130.9C1340.5,436.6,1341.4,434.4,1342.2,432.2\
                    z')
                    path.st1(d='M1301,483.1l-136.3-136.5c-1.2,1.9-2.3,3.9-3.4,5.9l133.7,134C1297.2,485.4,1299.2,484.3,1301,483.1z')
                    path.st1(d='M1329.6,456.4L1191.5,318c-1.8,1.3-3.5,2.6-5.2,4l139.3,139.6C1327,459.9,1328.3,458.2,1329.6,456.4z')
                    path.st1(d='M1259.9,497.3l-109.2-109.6c-0.3,2.8-0.5,5.7-0.6,8.6l101.2,101.5C1254.3,497.8,1257.2,497.6,1259.9,497.3\
                    z')
                    path.st1(d='M1289,489.5l-130.5-130.8c-1,2.2-1.8,4.4-2.6,6.6l126.6,126.9C1284.7,491.3,1286.9,490.5,1289,489.5z')
                    path.st1(d='M1231.4,496.4c3.5,0.6,7,1.1,10.5,1.3l-91.6-91.9c0.3,3.6,0.7,7.1,1.3,10.5L1231.4,496.4z')
                    path.st1(d='M1346.1,417.7L1230,301.3c-2.5,0.5-5,1.1-7.5,1.8l121.9,122.1C1345.1,422.7,1345.6,420.2,1346.1,417.7z')
                    path.st1(d='M1275.4,494.4l-121.8-122.1c-0.7,2.4-1.2,4.9-1.7,7.4L1268,496.1C1270.5,495.6,1273,495,1275.4,494.4z')
                    path.st1(d='M1336.6,445l-133.7-134c-2,1.1-4,2.2-5.9,3.4L1333.3,451C1334.4,448.9,1335.6,447,1336.6,445z')
                    path.st1(d='M1346.4,381.1l-79.8-80c-3.5-0.6-7-1.1-10.5-1.3l91.7,91.9C1347.5,388.1,1347,384.6,1346.4,381.1z')
                    path.st1(d='M1337,353.2l-42.5-42.6c-5-2.6-10.3-4.8-15.7-6.5l64.6,64.8C1341.7,363.4,1339.6,358.2,1337,353.2z')
                    path.st1(d='M1347.9,401.1l-101.2-101.6c-2.9,0.1-5.8,0.3-8.6,0.6l109.3,109.6C1347.7,406.9,1347.9,404,1347.9,401.1z')
                    path.st2(d='M1294.5,310.6l42.5,42.6C1327.6,334.9,1312.6,320,1294.5,310.6z')
                    path.st2(d='M1343.4,368.9l-64.6-64.8c-4-1.3-8.1-2.3-12.2-3l79.8,80C1345.7,376.9,1344.6,372.8,1343.4,368.9z')
                    path.st2(d='M1348,398.7c0-2.4-0.1-4.7-0.3-7.1l-91.7-91.8c-2.3-0.2-4.7-0.3-7.1-0.3c-0.8,0-1.6,0-2.4,0L1347.8,401\
                    C1347.9,400.3,1348,399.5,1348,398.7z')
                    path.st2(d='M1347.3,409.7l-109.2-109.6c-2.7,0.3-5.4,0.7-8,1.2l116.1,116.4C1346.6,415.1,1347.1,412.4,1347.3,409.7z')
                    path.st2(d='M1344.4,425.2l-121.8-122.1c-2.4,0.7-4.7,1.4-7,2.2l126.6,126.9C1343,429.9,1343.7,427.6,1344.4,425.2z')
                    path.st2(d='M1339.6,438.8l-130.5-130.9c-2.1,0.9-4.2,1.9-6.2,3l133.7,134C1337.7,443,1338.7,440.9,1339.6,438.8z')
                    path.st2(d='M1333.3,450.9L1197,314.3c-1.9,1.2-3.7,2.4-5.5,3.7l138.1,138.4C1330.9,454.6,1332.1,452.7,1333.3,450.9z')
                    path.st2(d='M1325.6,461.6L1186.3,322c-1.7,1.4-3.3,2.8-4.9,4.3l139.9,140.2C1322.8,464.9,1324.2,463.3,1325.6,461.6z')
                    path.st2(d='M1316.7,471.1l-140-140.2c-1.5,1.6-2.9,3.2-4.3,4.9l139.3,139.6C1313.4,474.1,1315.1,472.6,1316.7,471.1z')
                    path.st2(d='M1306.5,479.5l-138.1-138.4c-1.3,1.8-2.5,3.6-3.7,5.5l136.2,136.5C1302.9,482,1304.7,480.7,1306.5,479.5z')
                    path.st2(d='M1295.2,486.5l-133.7-134c-1.1,2-2.1,4.1-3,6.2L1289,489.5C1291.1,488.6,1293.2,487.6,1295.2,486.5z')
                    path.st2(d='M1282.4,492.1l-126.6-126.8c-0.8,2.3-1.6,4.6-2.2,7l121.8,122.1C1277.8,493.7,1280.1,493,1282.4,492.1z')
                    path.st2(d='M1267.9,496.1l-116-116.4c-0.5,2.6-0.9,5.3-1.2,8L1260,497.3C1262.6,497,1265.3,496.6,1267.9,496.1z')
                    path.st2(d='M1249.1,497.9c0.8,0,1.6,0,2.3,0l-101.2-101.5c0,0.8,0,1.6,0,2.3c0,2.4,0.1,4.8,0.3,7.1l91.7,91.9\
                    C1244.3,497.8,1246.7,497.9,1249.1,497.9z')
                    path.st2(d='M1154.6,428.6l64.6,64.8c4,1.3,8.1,2.3,12.2,3l-79.8-80C1152.4,420.5,1153.4,424.6,1154.6,428.6z')
                    path.st2(d='M1203.6,486.9l-42.4-42.5C1170.6,462.5,1185.4,477.4,1203.6,486.9z')
                  path.st0(d='M1249.2,310.6c48.4,0,87.7,39.4,87.7,87.9s-39.3,87.9-87.7,87.9s-87.7-39.4-87.7-87.9\
                  S1200.9,310.6,1249.2,310.6 M1249.2,298.8c-54.9,0-99.5,44.6-99.5,99.7s44.5,99.7,99.5,99.7c55,0,99.5-44.6,99.5-99.7\
                  S1304.1,298.8,1249.2,298.8L1249.2,298.8z')
                g
                  path.st0(d='M1334.7,387.2c-2.9-0.6-5.9-1.3-9.2-2c0.1-2.4,0.1-4.2,0.2-6.8c-28.2-7.8-56.4-15.9-84.4-9.2\
                  c-17.8-18.4-42.4-26.8-67.8-34.6c-1.1,1.3-2.2,2.7-3.3,4c21.9,7.5,44.1,13.9,60.9,28.8c2.3,2,4,5.8,3.4,8\
                  c-6.4,23.7-13.3,47.2-20.4,71.9c-18.4-15.3-40.6-22.6-62.8-30.3c1.3,6.9,3.2,13.5,5.8,19.8c4.7,1.7,9.4,3.4,14.1,5.2\
                  c13.2,5,25.3,11.4,35.2,20.8c2.9,2.7,10.8,5.3,14.4,4.4c16.3-3.7,33.1-0.8,50,2.4c12.4,2.4,24.4,6.1,36.7,9.2\
                  c0.4-0.3,0.7-0.5,1-0.8C1317.2,447.8,1325.9,417.5,1334.7,387.2z M1223.3,449.8c0.4-2.1,0.6-3.7,1.1-5.3\
                  c6.2-21.6,12.6-43,18.4-64.7c1.2-4.6,4.3-6.5,9.9-7.1c12.8-1.3,25.4-0.7,42,3.1c7.4,1.7,15,3.4,23.4,5.4\
                  c-7.5,26-14.8,51.4-22.1,77.1C1272,453.2,1248,446.4,1223.3,449.8z')
                  path.st0(d='M1149.7,399c0,2.7,0.1,5.5,0.3,8.1c6.5-22.5,12.9-44.8,19.5-67.7C1157.1,356.1,1149.7,376.7,1149.7,399z')
                  path.st2(d='M1234.6,375.5c0.6-2.2-1.1-6-3.4-8c-16.9-14.9-39-21.3-61-28.9c-0.2,0.3-0.4,0.6-0.7,0.9\
                  c-6.6,22.9-13,45.2-19.5,67.7c0.3,3.3,0.7,6.6,1.3,9.8c22.2,7.7,44.5,15,62.8,30.3C1221.2,422.7,1228.2,399.2,1234.6,375.5z')
                  path.st2(d='M1318.1,381.3c-8.5-2-16.1-3.7-23.4-5.4c-16.6-3.8-29.2-4.4-42-3.1c-5.6,0.6-8.7,2.5-9.9,7.1\
                  c-5.9,21.6-12.3,43.1-18.4,64.7c-0.4,1.5-0.7,3.1-1.1,5.3c24.7-3.4,48.7,3.4,72.6,8.6C1303.3,432.7,1310.6,407.4,1318.1,381.3z')
                path.st0(d='M1248.2,311.1c48.4,0,87.8,39.5,87.8,88s-39.4,88-87.8,88c-48.4,0-87.8-39.5-87.8-88\
                S1199.8,311.1,1248.2,311.1 M1248.2,299.3c-55,0-99.6,44.7-99.6,99.8s44.6,99.7,99.6,99.7c55,0,99.6-44.7,99.6-99.8\
                S1303.1,299.3,1248.2,299.3L1248.2,299.3z')
                g
                  path.st0(d='M1249.9,404.9c5.5,0.8,7-1.9,7.6-4.4c0.5-2,0.7-4.1,0.9-6.1c0.2-2.1,0.4-4,0.9-6.1c1.7-6.6,7-8.7,13.6-7.8\
                  l1.6,0.2l-1,4l-1.4-0.2c-4.6-0.7-6.7,1.4-7.7,5.3c-0.4,1.7-0.6,3.4-0.8,5.2c-0.1,1.8-0.4,3.6-0.9,5.5c-1.1,4.6-3.9,6.6-7.6,7\
                  v0.1c3.3,1.3,4.8,4,3.6,8.6c-0.5,1.9-1.2,3.7-1.9,5.4c-0.8,1.8-1.4,3.4-1.9,5.1c-1,4,0.2,6.5,4.5,7.1l1.4,0.2l-1,3.9l-1.6-0.2\
                  c-6.4-0.9-10.6-4.2-8.7-11.5c0.5-1.9,1.3-3.9,2.1-5.8s1.6-3.8,2.1-5.7c0.6-2.2,0.6-5.4-4.9-6.2L1249.9,404.9z')
                  path.st0(d='M1294.7,415.2c-5.5-0.8-7.1,2.2-7.6,4.4c-0.5,1.9-0.7,3.9-0.9,5.9c-0.2,2-0.4,4-0.9,6\
                  c-1.9,7.3-7.4,9.1-13.7,8.2l-1.6-0.2l1-4l1.3,0.2c4.4,0.6,6.8-1.3,7.8-5.4c0.4-1.7,0.6-3.4,0.8-5.2c0.1-1.8,0.3-3.6,0.8-5.5\
                  c1.2-4.6,4-6.7,7.6-7v-0.1c-3.2-1.4-4.8-4-3.6-8.6c0.5-1.9,1.2-3.6,2-5.4c0.7-1.7,1.4-3.4,1.8-5c1-3.9-0.1-6.3-4.5-7.1l-1.4-0.2\
                  l1-4l1.5,0.2c6.6,0.9,10.6,4.4,8.9,11c-0.5,2-1.3,3.9-2.1,5.9c-0.8,2-1.6,3.9-2.2,5.9c-0.6,2.5-0.6,5.4,4.9,6.2L1294.7,415.2z')
            g
              rect.st0(x='1167', y='612.8', width='164.3', height='7.3')
              rect.st0(x='1198.3', y='599.7', width='101.7', height='7.3')
              rect.st0(x='1221.5', y='586.6', width='55.3', height='7.3')
              rect.st0(x='1244.2', y='489.4', width='10', height='91.4')
            g#_x33_
              g
                g
                  g
                    path.st1(d='M812.5,444.3l42.4,42.5c5,2.6,10.3,4.8,15.7,6.5L806,428.6C807.7,434,809.9,439.3,812.5,444.3z')
                    path.st1(d='M972.7,466.5l-140-140.2c-1.6,1.5-3.1,3-4.6,4.6L968,471.1C969.6,469.7,971.2,468.1,972.7,466.5z')
                    path.st1(d='M963.1,475.4L823.8,335.8c-1.4,1.7-2.7,3.4-4,5.2l138.1,138.5C959.7,478.2,961.4,476.8,963.1,475.4z')
                    path.st1(d='M993.6,432.2L867,305.3c-2.2,0.8-4.4,1.7-6.6,2.6l130.5,130.9C991.9,436.6,992.8,434.4,993.6,432.2z')
                    path.st1(d='M952.4,483.1L816.2,346.6c-1.2,1.9-2.3,3.9-3.4,5.9l133.7,134C948.5,485.4,950.5,484.3,952.4,483.1z')
                    path.st1(d='M980.9,456.4L842.9,318c-1.8,1.3-3.5,2.6-5.2,4L977,461.6C978.4,459.9,979.7,458.2,980.9,456.4z')
                    path.st1(d='M911.3,497.3L802.1,387.7c-0.3,2.8-0.5,5.7-0.6,8.6l101.2,101.5C905.6,497.8,908.5,497.6,911.3,497.3z')
                    path.st1(d='M940.3,489.5L809.9,358.7c-1,2.2-1.8,4.4-2.6,6.6l126.6,126.9C936.1,491.3,938.3,490.5,940.3,489.5z')
                    path.st1(d='M882.8,496.4c3.5,0.6,7,1.1,10.5,1.3l-91.6-91.9c0.3,3.6,0.7,7.1,1.3,10.5L882.8,496.4z')
                    path.st1(d='M997.5,417.7L881.4,301.3c-2.5,0.5-5,1.1-7.5,1.8l121.9,122.1C996.5,422.7,997,420.2,997.5,417.7z')
                    path.st1(d='M926.8,494.4L805,372.3c-0.7,2.4-1.2,4.9-1.7,7.4l116.1,116.4C921.9,495.6,924.4,495,926.8,494.4z')
                    path.st1(d='M987.9,445L854.3,311c-2,1.1-4,2.2-5.9,3.4L984.6,451C985.7,448.9,986.9,447,987.9,445z')
                    path.st1(d='M997.8,381.1l-79.8-80c-3.5-0.6-7-1.1-10.5-1.3l91.7,91.9C998.9,388.1,998.4,384.6,997.8,381.1z')
                    path.st1(d='M988.3,353.2l-42.5-42.6c-5-2.6-10.3-4.8-15.7-6.5l64.6,64.8C993.1,363.4,990.9,358.2,988.3,353.2z')
                    path.st1(d='M999.3,401.1L898.1,299.5c-2.9,0.1-5.8,0.3-8.6,0.6l109.3,109.6C999.1,406.9,999.3,404,999.3,401.1z')
                    path.st2(d='M945.8,310.6l42.5,42.6C979,334.9,964,320,945.8,310.6z')
                    path.st2(d='M994.8,368.9l-64.6-64.8c-4-1.3-8.1-2.3-12.2-3l79.8,80C997.1,376.9,996,372.8,994.8,368.9z')
                    path.st2(d='M999.4,398.7c0-2.4-0.1-4.7-0.3-7.1l-91.7-91.8c-2.3-0.2-4.7-0.3-7.1-0.3c-0.8,0-1.6,0-2.4,0L999.2,401\
                    C999.3,400.3,999.4,399.5,999.4,398.7z')
                    path.st2(d='M998.7,409.7L889.5,300.1c-2.7,0.3-5.4,0.7-8,1.2l116.1,116.4C998,415.1,998.5,412.4,998.7,409.7z')
                    path.st2(d='M995.8,425.2L874,303.1c-2.4,0.7-4.7,1.4-7,2.2l126.6,126.9C994.4,429.9,995.1,427.6,995.8,425.2z')
                    path.st2(d='M990.9,438.8L860.4,307.9c-2.1,0.9-4.2,1.9-6.2,3l133.7,134C989,443,990,440.9,990.9,438.8z')
                    path.st2(d='M984.6,450.9L848.4,314.3c-1.9,1.2-3.7,2.4-5.5,3.7l138.1,138.4C982.2,454.6,983.4,452.7,984.6,450.9z')
                    path.st2(d='M977,461.6L837.7,322c-1.7,1.4-3.3,2.8-4.9,4.3l139.9,140.2C974.2,464.9,975.6,463.3,977,461.6z')
                    path.st2(d='M968.1,471.1l-140-140.2c-1.5,1.6-2.9,3.2-4.3,4.9l139.3,139.6C964.8,474.1,966.5,472.6,968.1,471.1z')
                    path.st2(d='M957.9,479.5L819.9,341.1c-1.3,1.8-2.5,3.6-3.7,5.5l136.2,136.5C954.3,482,956.1,480.7,957.9,479.5z')
                    path.st2(d='M946.5,486.5l-133.7-134c-1.1,2-2.1,4.1-3,6.2l130.5,130.8C942.4,488.6,944.5,487.6,946.5,486.5z')
                    path.st2(d='M933.8,492.1L807.2,365.3c-0.8,2.3-1.6,4.6-2.2,7l121.8,122.1C929.2,493.7,931.5,493,933.8,492.1z')
                    path.st2(d='M919.3,496.1l-116-116.4c-0.5,2.6-0.9,5.3-1.2,8l109.3,109.6C914,497,916.7,496.6,919.3,496.1z')
                    path.st2(d='M900.4,497.9c0.8,0,1.6,0,2.3,0L801.5,396.4c0,0.8,0,1.6,0,2.3c0,2.4,0.1,4.8,0.3,7.1l91.7,91.9\
                    C895.7,497.8,898.1,497.9,900.4,497.9z')
                    path.st2(d='M806,428.6l64.6,64.8c4,1.3,8.1,2.3,12.2,3l-79.8-80C803.8,420.5,804.8,424.6,806,428.6z')
                    path.st2(d='M855,486.9l-42.4-42.5C821.9,462.5,836.8,477.4,855,486.9z')
                  path.st0(d='M900.5,310.6c48.4,0,87.7,39.4,87.7,87.9s-39.3,87.9-87.7,87.9c-48.4,0-87.7-39.4-87.7-87.9\
                  S852.3,310.6,900.5,310.6 M900.5,298.8c-54.9,0-99.5,44.6-99.5,99.7s44.5,99.7,99.5,99.7s99.5-44.6,99.5-99.7\
                  S955.5,298.8,900.5,298.8L900.5,298.8z')
                g
                  path.st0(d='M986,387.2c-2.9-0.6-5.9-1.3-9.2-2c0.1-2.4,0.1-4.2,0.2-6.8c-28.2-7.8-56.4-15.9-84.4-9.2\
                  c-17.8-18.4-42.4-26.8-67.8-34.6c-1.1,1.3-2.2,2.7-3.3,4c21.9,7.5,44.1,13.9,60.9,28.8c2.3,2,4,5.8,3.4,8\
                  c-6.4,23.7-13.3,47.2-20.4,71.9c-18.4-15.3-40.6-22.6-62.8-30.3c1.3,6.9,3.2,13.5,5.8,19.8c4.7,1.7,9.4,3.4,14.1,5.2\
                  c13.2,5,25.3,11.4,35.2,20.8c2.9,2.7,10.8,5.3,14.4,4.4c16.3-3.7,33.1-0.8,50,2.4c12.4,2.4,24.4,6.1,36.7,9.2\
                  c0.4-0.3,0.7-0.5,1-0.8C968.6,447.8,977.3,417.5,986,387.2z M874.7,449.8c0.4-2.1,0.6-3.7,1.1-5.3c6.2-21.6,12.6-43,18.4-64.7\
                  c1.2-4.6,4.3-6.5,9.9-7.1c12.8-1.3,25.4-0.7,42,3.1c7.4,1.7,15,3.4,23.4,5.4c-7.5,26-14.8,51.4-22.1,77.1\
                  C923.4,453.2,899.4,446.4,874.7,449.8z')
                  path.st0(d='M801.1,399c0,2.7,0.1,5.5,0.3,8.1c6.5-22.5,12.9-44.8,19.5-67.7C808.5,356.1,801.1,376.7,801.1,399z')
                  path.st2(d='M886,375.5c0.6-2.2-1.1-6-3.4-8c-16.9-14.9-39-21.3-61-28.9c-0.2,0.3-0.4,0.6-0.7,0.9\
                  c-6.6,22.9-13,45.2-19.5,67.7c0.3,3.3,0.7,6.6,1.3,9.8c22.2,7.7,44.5,15,62.8,30.3C872.6,422.7,879.6,399.2,886,375.5z')
                  path.st2(d='M969.5,381.3c-8.5-2-16.1-3.7-23.4-5.4c-16.6-3.8-29.2-4.4-42-3.1c-5.6,0.6-8.7,2.5-9.9,7.1\
                  c-5.9,21.6-12.3,43.1-18.4,64.7c-0.4,1.5-0.7,3.1-1.1,5.3c24.7-3.4,48.7,3.4,72.6,8.6C954.7,432.7,962,407.4,969.5,381.3z')
                path.st0(d='M899.6,311.1c48.4,0,87.8,39.5,87.8,88s-39.4,88-87.8,88c-48.4,0-87.8-39.5-87.8-88S851.2,311.1,899.6,311.1\
                M899.6,299.3c-55,0-99.6,44.7-99.6,99.8s44.6,99.7,99.6,99.7s99.6-44.7,99.6-99.8S954.5,299.3,899.6,299.3L899.6,299.3z')
                g
                  path.st0(d='M901.2,404.9c5.5,0.8,7-1.9,7.6-4.4c0.5-2,0.7-4.1,0.9-6.1c0.2-2.1,0.4-4,0.9-6.1c1.7-6.6,7-8.7,13.6-7.8\
                  l1.6,0.2l-1,4l-1.4-0.2c-4.6-0.7-6.7,1.4-7.7,5.3c-0.4,1.7-0.6,3.4-0.8,5.2c-0.1,1.8-0.4,3.6-0.9,5.5c-1.1,4.6-3.9,6.6-7.6,7\
                  v0.1c3.3,1.3,4.8,4,3.6,8.6c-0.5,1.9-1.2,3.7-1.9,5.4c-0.8,1.8-1.4,3.4-1.9,5.1c-1,4,0.2,6.5,4.5,7.1l1.4,0.2l-1,3.9l-1.6-0.2\
                  c-6.4-0.9-10.6-4.2-8.7-11.5c0.5-1.9,1.3-3.9,2.1-5.8c0.8-1.9,1.6-3.8,2.1-5.7c0.6-2.2,0.6-5.4-4.9-6.2L901.2,404.9z')
                  path.st0(d='M946,415.2c-5.5-0.8-7.1,2.2-7.6,4.4c-0.5,1.9-0.7,3.9-0.9,5.9c-0.2,2-0.4,4-0.9,6\
                  c-1.9,7.3-7.4,9.1-13.7,8.2l-1.6-0.2l1-4l1.3,0.2c4.4,0.6,6.8-1.3,7.8-5.4c0.4-1.7,0.6-3.4,0.8-5.2c0.1-1.8,0.3-3.6,0.8-5.5\
                  c1.2-4.6,4-6.7,7.6-7v-0.1c-3.2-1.4-4.8-4-3.6-8.6c0.5-1.9,1.2-3.6,2-5.4c0.7-1.7,1.4-3.4,1.8-5c1-3.9-0.1-6.3-4.5-7.1l-1.4-0.2\
                  l1-4l1.5,0.2c6.6,0.9,10.6,4.4,8.9,11c-0.5,2-1.3,3.9-2.1,5.9c-0.8,2-1.6,3.9-2.2,5.9c-0.6,2.5-0.6,5.4,4.9,6.2L946,415.2z')
            g
              rect.st0(x='815.8', y='612.8', transform='matrix(-1 8.978406e-11 -8.978406e-11 -1 1795.9103 1232.9025)', width='164.3', height='7.3')
              rect.st0(x='847.1', y='599.7', transform='matrix(-1 8.980404e-11 -8.980404e-11 -1 1795.9103 1206.7052)', width='101.7', height='7.3')
              rect.st0(x='870.3', y='586.6', transform='matrix(-1 8.980448e-11 -8.980448e-11 -1 1795.9103 1180.5079)', width='55.3', height='7.3')
              rect.st0(x='893', y='489.4', transform='matrix(-1 8.985777e-11 -8.985777e-11 -1 1795.9103 1070.2179)', width='10', height='91.4')
            g#_x32_
              g
                g
                  g
                    path.st1(d='M463.8,444.3l42.4,42.5c5,2.6,10.3,4.8,15.7,6.5l-64.5-64.7C459.1,434,461.2,439.3,463.8,444.3z')
                    path.st1(d='M624,466.5l-140-140.2c-1.6,1.5-3.1,3-4.6,4.6l139.9,140.2C620.9,469.7,622.5,468.1,624,466.5z')
                    path.st1(d='M614.5,475.4L475.2,335.8c-1.4,1.7-2.7,3.4-4,5.2l138.1,138.5C611.1,478.2,612.8,476.8,614.5,475.4z')
                    path.st1(d='M645,432.2L518.4,305.3c-2.2,0.8-4.4,1.7-6.6,2.6l130.5,130.9C643.3,436.6,644.2,434.4,645,432.2z')
                    path.st1(d='M603.8,483.1L467.5,346.6c-1.2,1.9-2.3,3.9-3.4,5.9l133.7,134C599.9,485.4,601.9,484.3,603.8,483.1z')
                    path.st1(d='M632.3,456.4L494.3,318c-1.8,1.3-3.5,2.6-5.2,4l139.3,139.6C629.7,459.9,631,458.2,632.3,456.4z')
                    path.st1(d='M562.7,497.3L453.5,387.7c-0.3,2.8-0.5,5.7-0.6,8.6l101.2,101.5C557,497.8,559.9,497.6,562.7,497.3z')
                    path.st1(d='M591.7,489.5L461.2,358.7c-1,2.2-1.8,4.4-2.6,6.6l126.6,126.9C587.4,491.3,589.6,490.5,591.7,489.5z')
                    path.st1(d='M534.2,496.4c3.5,0.6,7,1.1,10.5,1.3l-91.6-91.9c0.3,3.6,0.7,7.1,1.3,10.5L534.2,496.4z')
                    path.st1(d='M648.9,417.7L532.8,301.3c-2.5,0.5-5,1.1-7.5,1.8l121.9,122.1C647.9,422.7,648.4,420.2,648.9,417.7z')
                    path.st1(d='M578.2,494.4L456.4,372.3c-0.7,2.4-1.2,4.9-1.7,7.4l116.1,116.4C573.3,495.6,575.8,495,578.2,494.4z')
                    path.st1(d='M639.3,445L505.6,311c-2,1.1-4,2.2-5.9,3.4L636,451C637.1,448.9,638.3,447,639.3,445z')
                    path.st1(d='M649.2,381.1l-79.8-80c-3.5-0.6-7-1.1-10.5-1.3l91.7,91.9C650.3,388.1,649.8,384.6,649.2,381.1z')
                    path.st1(d='M639.7,353.2l-42.5-42.6c-5-2.6-10.3-4.8-15.7-6.5l64.6,64.8C644.5,363.4,642.3,358.2,639.7,353.2z')
                    path.st1(d='M650.7,401.1L549.4,299.5c-2.9,0.1-5.8,0.3-8.6,0.6l109.3,109.6C650.5,406.9,650.7,404,650.7,401.1z')
                    path.st2(d='M597.2,310.6l42.5,42.6C630.3,334.9,615.4,320,597.2,310.6z')
                    path.st2(d='M646.2,368.9l-64.6-64.8c-4-1.3-8.1-2.3-12.2-3l79.8,80C648.5,376.9,647.4,372.8,646.2,368.9z')
                    path.st2(d='M650.8,398.7c0-2.4-0.1-4.7-0.3-7.1l-91.7-91.8c-2.3-0.2-4.7-0.3-7.1-0.3c-0.8,0-1.6,0-2.4,0L650.6,401\
                    C650.7,400.3,650.8,399.5,650.8,398.7z')
                    path.st2(d='M650.1,409.7L540.8,300.1c-2.7,0.3-5.4,0.7-8,1.2L649,417.7C649.4,415.1,649.9,412.4,650.1,409.7z')
                    path.st2(d='M647.2,425.2L525.4,303.1c-2.4,0.7-4.7,1.4-7,2.2L645,432.2C645.8,429.9,646.5,427.6,647.2,425.2z')
                    path.st2(d='M642.3,438.8L511.8,307.9c-2.1,0.9-4.2,1.9-6.2,3l133.7,134C640.4,443,641.4,440.9,642.3,438.8z')
                    path.st2(d='M636,450.9L499.8,314.3c-1.9,1.2-3.7,2.4-5.5,3.7l138.1,138.4C633.6,454.6,634.8,452.7,636,450.9z')
                    path.st2(d='M628.3,461.6L489.1,322c-1.7,1.4-3.3,2.8-4.9,4.3L624,466.5C625.5,464.9,626.9,463.3,628.3,461.6z')
                    path.st2(d='M619.5,471.1l-140-140.2c-1.5,1.6-2.9,3.2-4.3,4.9l139.3,139.6C616.2,474.1,617.9,472.6,619.5,471.1z')
                    path.st2(d='M609.3,479.5L471.2,341.1c-1.3,1.8-2.5,3.6-3.7,5.5l136.2,136.5C605.7,482,607.5,480.7,609.3,479.5z')
                    path.st2(d='M597.9,486.5l-133.7-134c-1.1,2-2.1,4.1-3,6.2l130.5,130.8C593.8,488.6,595.9,487.6,597.9,486.5z')
                    path.st2(d='M585.1,492.1L458.6,365.3c-0.8,2.3-1.6,4.6-2.2,7l121.8,122.1C580.5,493.7,582.8,493,585.1,492.1z')
                    path.st2(d='M570.7,496.1l-116-116.4c-0.5,2.6-0.9,5.3-1.2,8l109.3,109.6C565.4,497,568.1,496.6,570.7,496.1z')
                    path.st2(d='M551.8,497.9c0.8,0,1.6,0,2.3,0L452.9,396.4c0,0.8,0,1.6,0,2.3c0,2.4,0.1,4.8,0.3,7.1l91.7,91.9\
                    C547,497.8,549.4,497.9,551.8,497.9z')
                    path.st2(d='M457.4,428.6l64.6,64.8c4,1.3,8.1,2.3,12.2,3l-79.8-80C455.2,420.5,456.2,424.6,457.4,428.6z')
                    path.st2(d='M506.3,486.9l-42.4-42.5C473.3,462.5,488.2,477.4,506.3,486.9z')
                  path.st0(d='M551.9,310.6c48.4,0,87.7,39.4,87.7,87.9s-39.3,87.9-87.7,87.9s-87.7-39.4-87.7-87.9\
                  S503.6,310.6,551.9,310.6 M551.9,298.8c-54.9,0-99.5,44.6-99.5,99.7s44.5,99.7,99.5,99.7s99.5-44.6,99.5-99.7\
                  S606.9,298.8,551.9,298.8L551.9,298.8z')
                g
                  path.st0(d='M637.4,387.2c-2.9-0.6-5.9-1.3-9.2-2c0.1-2.4,0.1-4.2,0.2-6.8c-28.2-7.8-56.4-15.9-84.4-9.2\
                  c-17.8-18.4-42.4-26.8-67.8-34.6c-1.1,1.3-2.2,2.7-3.3,4c21.9,7.5,44.1,13.9,60.9,28.8c2.3,2,4,5.8,3.4,8\
                  c-6.4,23.7-13.3,47.2-20.4,71.9C498.5,432,476.2,424.7,454,417c1.3,6.9,3.2,13.5,5.8,19.8c4.7,1.7,9.4,3.4,14.1,5.2\
                  c13.2,5,25.3,11.4,35.2,20.8c2.9,2.7,10.8,5.3,14.4,4.4c16.3-3.7,33.1-0.8,50,2.4c12.4,2.4,24.4,6.1,36.7,9.2\
                  c0.4-0.3,0.7-0.5,1-0.8C620,447.8,628.6,417.5,637.4,387.2z M526.1,449.8c0.4-2.1,0.6-3.7,1.1-5.3c6.2-21.6,12.6-43,18.4-64.7\
                  c1.2-4.6,4.3-6.5,9.9-7.1c12.8-1.3,25.4-0.7,42,3.1c7.4,1.7,15,3.4,23.4,5.4c-7.5,26-14.8,51.4-22.1,77.1\
                  C574.8,453.2,550.7,446.4,526.1,449.8z')
                  path.st0(d='M452.5,399c0,2.7,0.1,5.5,0.3,8.1c6.5-22.5,12.9-44.8,19.5-67.7C459.9,356.1,452.5,376.7,452.5,399z')
                  path.st2(d='M537.4,375.5c0.6-2.2-1.1-6-3.4-8c-16.9-14.9-39-21.3-61-28.9c-0.2,0.3-0.4,0.6-0.7,0.9\
                  c-6.6,22.9-13,45.2-19.5,67.7c0.3,3.3,0.7,6.6,1.3,9.8c22.2,7.7,44.5,15,62.8,30.3C524,422.7,531,399.2,537.4,375.5z')
                  path.st2(d='M620.8,381.3c-8.5-2-16.1-3.7-23.4-5.4c-16.6-3.8-29.2-4.4-42-3.1c-5.6,0.6-8.7,2.5-9.9,7.1\
                  c-5.9,21.6-12.3,43.1-18.4,64.7c-0.4,1.5-0.7,3.1-1.1,5.3c24.7-3.4,48.7,3.4,72.6,8.6C606.1,432.7,613.4,407.4,620.8,381.3z')
                path.st0(d='M550.9,311.1c48.4,0,87.8,39.5,87.8,88s-39.4,88-87.8,88s-87.8-39.5-87.8-88S502.5,311.1,550.9,311.1\
                M550.9,299.3c-55,0-99.6,44.7-99.6,99.8s44.6,99.7,99.6,99.7s99.6-44.7,99.6-99.8S605.9,299.3,550.9,299.3L550.9,299.3z')
                g
                  path.st0(d='M552.6,404.9c5.5,0.8,7-1.9,7.6-4.4c0.5-2,0.7-4.1,0.9-6.1c0.2-2.1,0.4-4,0.9-6.1c1.7-6.6,7-8.7,13.6-7.8\
                  l1.6,0.2l-1,4l-1.4-0.2c-4.6-0.7-6.7,1.4-7.7,5.3c-0.4,1.7-0.6,3.4-0.8,5.2c-0.1,1.8-0.4,3.6-0.9,5.5c-1.1,4.6-3.9,6.6-7.6,7\
                  v0.1c3.3,1.3,4.8,4,3.6,8.6c-0.5,1.9-1.2,3.7-1.9,5.4c-0.8,1.8-1.4,3.4-1.9,5.1c-1,4,0.2,6.5,4.5,7.1l1.4,0.2l-1,3.9l-1.6-0.2\
                  c-6.4-0.9-10.6-4.2-8.7-11.5c0.5-1.9,1.3-3.9,2.1-5.8c0.8-1.9,1.6-3.8,2.1-5.7c0.6-2.2,0.6-5.4-4.9-6.2L552.6,404.9z')
                  path.st0(d='M597.4,415.2c-5.5-0.8-7.1,2.2-7.6,4.4c-0.5,1.9-0.7,3.9-0.9,5.9c-0.2,2-0.4,4-0.9,6\
                  c-1.9,7.3-7.4,9.1-13.7,8.2l-1.6-0.2l1-4l1.3,0.2c4.4,0.6,6.8-1.3,7.8-5.4c0.4-1.7,0.6-3.4,0.8-5.2c0.1-1.8,0.3-3.6,0.8-5.5\
                  c1.2-4.6,4-6.7,7.6-7v-0.1c-3.2-1.4-4.8-4-3.6-8.6c0.5-1.9,1.2-3.6,2-5.4c0.7-1.7,1.4-3.4,1.8-5c1-3.9-0.1-6.3-4.5-7.1l-1.4-0.2\
                  l1-4l1.5,0.2c6.6,0.9,10.6,4.4,8.9,11c-0.5,2-1.3,3.9-2.1,5.9s-1.6,3.9-2.2,5.9c-0.6,2.5-0.6,5.4,4.9,6.2L597.4,415.2z')
            g
              rect.st0(x='468.8', y='612.8', width='164.3', height='7.3')
              rect.st0(x='500.1', y='599.7', width='101.7', height='7.3')
              rect.st0(x='523.3', y='586.6', width='55.3', height='7.3')
              rect.st0(x='545.9', y='489.4', width='10', height='91.4')
            g#_x31_
              g
                g
                  g
                    path.st1(d='M115.2,446.7l42.4,42.5c5,2.6,10.3,4.8,15.7,6.5L108.7,431C110.4,436.4,112.6,441.7,115.2,446.7z')
                    path.st1(d='M275.4,468.9l-140-140.2c-1.6,1.5-3.1,3-4.6,4.6l139.9,140.2C272.3,472.1,273.9,470.5,275.4,468.9z')
                    path.st1(d='M265.8,477.8L126.6,338.2c-1.4,1.7-2.7,3.4-4,5.2l138.1,138.5C262.4,480.6,264.1,479.2,265.8,477.8z')
                    path.st1(d='M296.4,434.6L169.8,307.7c-2.2,0.8-4.4,1.7-6.6,2.6l130.5,130.9C294.7,439,295.6,436.8,296.4,434.6z')
                    path.st1(d='M255.2,485.5L118.9,349c-1.2,1.9-2.3,3.9-3.4,5.9l133.7,134C251.3,487.8,253.3,486.7,255.2,485.5z')
                    path.st1(d='M283.7,458.8L145.6,320.4c-1.8,1.3-3.5,2.6-5.2,4L279.7,464C281.1,462.3,282.4,460.6,283.7,458.8z')
                    path.st1(d='M214.1,499.7L104.8,390.1c-0.3,2.8-0.5,5.7-0.6,8.6l101.2,101.5C208.4,500.2,211.3,500,214.1,499.7z')
                    path.st1(d='M243.1,491.9L112.6,361.1c-1,2.2-1.8,4.4-2.6,6.6l126.6,126.9C238.8,493.7,241,492.9,243.1,491.9z')
                    path.st1(d='M185.5,498.8c3.5,0.6,7,1.1,10.5,1.3l-91.6-91.9c0.3,3.6,0.7,7.1,1.3,10.5L185.5,498.8z')
                    path.st1(d='M300.3,420.1L184.1,303.7c-2.5,0.5-5,1.1-7.5,1.8l121.9,122.1C299.3,425.1,299.8,422.6,300.3,420.1z')
                    path.st1(d='M229.5,496.8L107.7,374.7c-0.7,2.4-1.2,4.9-1.7,7.4l116.1,116.4C224.6,498,227.1,497.4,229.5,496.8z')
                    path.st1(d='M290.7,447.4L157,313.4c-2,1.1-4,2.2-5.9,3.4l136.3,136.6C288.5,451.3,289.7,449.4,290.7,447.4z')
                    path.st1(d='M300.5,383.5l-79.8-80c-3.5-0.6-7-1.1-10.5-1.3l91.7,91.9C301.6,390.5,301.1,387,300.5,383.5z')
                    path.st1(d='M291.1,355.6L248.6,313c-5-2.6-10.3-4.8-15.7-6.5l64.6,64.8C295.9,365.8,293.7,360.6,291.1,355.6z')
                    path.st1(d='M302,403.5L200.8,301.9c-2.9,0.1-5.8,0.3-8.6,0.6l109.3,109.6C301.8,409.3,302,406.4,302,403.5z')
                    path.st2(d='M248.6,313l42.5,42.6C281.7,337.3,266.7,322.4,248.6,313z')
                    path.st2(d='M297.6,371.3l-64.6-64.8c-4-1.3-8.1-2.3-12.2-3l79.8,80C299.9,379.3,298.8,375.2,297.6,371.3z')
                    path.st2(d='M302.1,401.1c0-2.4-0.1-4.7-0.3-7.1l-91.7-91.8c-2.3-0.2-4.7-0.3-7.1-0.3c-0.8,0-1.6,0-2.4,0l101.2,101.5\
                    C302,402.7,302.1,401.9,302.1,401.1z')
                    path.st2(d='M301.4,412.1L192.2,302.5c-2.7,0.3-5.4,0.7-8,1.2l116.1,116.4C300.7,417.5,301.2,414.8,301.4,412.1z')
                    path.st2(d='M298.6,427.6L176.8,305.5c-2.4,0.7-4.7,1.4-7,2.2l126.6,126.9C297.2,432.3,297.9,430,298.6,427.6z')
                    path.st2(d='M293.7,441.2L163.2,310.3c-2.1,0.9-4.2,1.9-6.2,3l133.7,134C291.8,445.4,292.8,443.3,293.7,441.2z')
                    path.st2(d='M287.4,453.3L151.1,316.7c-1.9,1.2-3.7,2.4-5.5,3.7l138.1,138.4C285,457,286.2,455.1,287.4,453.3z')
                    path.st2(d='M279.7,464L140.4,324.4c-1.7,1.4-3.3,2.8-4.9,4.3l139.9,140.2C276.9,467.3,278.3,465.7,279.7,464z')
                    path.st2(d='M270.8,473.5l-140-140.2c-1.5,1.6-2.9,3.2-4.3,4.9l139.3,139.6C267.5,476.5,269.2,475,270.8,473.5z')
                    path.st2(d='M260.6,481.9L122.6,343.5c-1.3,1.8-2.5,3.6-3.7,5.5l136.2,136.5C257.1,484.4,258.9,483.1,260.6,481.9z')
                    path.st2(d='M249.3,488.9l-133.7-134c-1.1,2-2.1,4.1-3,6.2l130.5,130.8C245.2,491,247.3,490,249.3,488.9z')
                    path.st2(d='M236.5,494.5L109.9,367.7c-0.8,2.3-1.6,4.6-2.2,7l121.8,122.1C231.9,496.1,234.2,495.4,236.5,494.5z')
                    path.st2(d='M222,498.5L106,382.1c-0.5,2.6-0.9,5.3-1.2,8l109.3,109.6C216.8,499.4,219.5,499,222,498.5z')
                    path.st2(d='M203.2,500.3c0.8,0,1.6,0,2.3,0L104.2,398.8c0,0.8,0,1.6,0,2.3c0,2.4,0.1,4.8,0.3,7.1l91.7,91.9\
                    C198.4,500.2,200.8,500.3,203.2,500.3z')
                    path.st2(d='M108.7,431l64.6,64.8c4,1.3,8.1,2.3,12.2,3l-79.8-80C106.5,422.9,107.5,427,108.7,431z')
                    path.st2(d='M157.7,489.3l-42.4-42.5C124.7,464.9,139.6,479.8,157.7,489.3z')
                  path.st0(d='M203.3,313c48.4,0,87.7,39.4,87.7,87.9s-39.3,87.9-87.7,87.9s-87.7-39.4-87.7-87.9S155,313,203.3,313\
                  M203.3,301.2c-54.9,0-99.5,44.6-99.5,99.7s44.5,99.7,99.5,99.7s99.5-44.6,99.5-99.7S258.3,301.2,203.3,301.2L203.3,301.2z')
                path.st0(d='M202.3,313.5c48.4,0,87.8,39.5,87.8,88s-39.4,88-87.8,88s-87.8-39.5-87.8-88S153.9,313.5,202.3,313.5\
                M202.3,301.7c-55,0-99.6,44.7-99.6,99.8s44.6,99.7,99.6,99.7s99.6-44.7,99.6-99.8S257.3,301.7,202.3,301.7L202.3,301.7z')
                g
                  path.st0(d='M165.9,457c-4.8-4.5-5.5-105.5,0-109.2s94.6,48,94.6,54.6C260.5,409,170.8,461.5,165.9,457z')
                g
                  path.st2(d='M165.3,448.6c-1.4-5.1-2.8-24.6-2.9-51.6c-0.1-28.3,1.2-47,2.7-51.8c5,1.1,22.1,9.2,46.5,23.3\
                  C235,382,251,393,254.5,396.8c-3.4,3.8-19.4,14.8-42.7,28.4C187.5,439.4,170.4,447.5,165.3,448.6z')
                  path.st0(d='M167.4,349c6.6,2.5,21.2,9.6,42.5,21.9c21.2,12.3,34.7,21.4,40.1,25.9c-5.4,4.5-18.9,13.6-40,25.9\
                  c-22,12.8-36,19.6-42.4,21.9c-1-7.1-2.1-23.3-2.2-47.7C165.4,373.4,166.3,356.3,167.4,349 M164.2,342c-0.4,0-0.7,0.1-0.9,0.2\
                  c-5.5,3.7-4.8,104.7,0,109.2c0.2,0.2,0.5,0.3,1,0.3c11,0,93.6-48.5,93.6-54.9C257.9,390.4,174.9,342,164.2,342L164.2,342z')
            g
              rect.st0(x='121.2', y='179.9', width='164.3', height='7.3')
              rect.st0(x='152.4', y='193', width='101.7', height='7.3')
              rect.st0(x='175.6', y='206.1', width='55.3', height='7.3')
              rect.st0(x='198.3', y='219.2', width='10', height='91.4')
            rect.st0(x='1301', y='219.2', width='300', height='4')
            rect.st0(x='198.3', y='219.2', width='300', height='4')
          g(id='图层_2')
            g
              path(d='M184.4,86.9h-3.5c-0.7-3.5-2.8-5.2-6.3-5.2c-2.4,0-4.3,1.2-5.6,3.5c-1.4,2.2-2,5.1-2,8.6c0,0.2,0,0.6,0,1.1h0.2\
              c0.8-1.6,1.8-2.8,3.3-3.7c1.4-0.9,3-1.3,4.7-1.3c2.9,0,5.3,0.9,7.1,2.8c1.8,1.9,2.7,4.3,2.7,7.3c0,3-1,5.5-2.9,7.5\
              c-2,2-4.4,3-7.4,3c-3.7,0-6.5-1.4-8.4-4.1c-1.8-2.6-2.7-6.2-2.7-10.9c0-4.9,0.9-8.9,2.9-11.9c2-3.2,4.7-4.8,8.2-4.8\
              C180.3,78.8,183.5,81.5,184.4,86.9z M169.5,94.9c-1.3,1.4-2,3.1-2,5.2s0.6,3.9,1.9,5.3c1.3,1.5,3,2.2,5.1,2.2c2.1,0,3.7-0.7,5-2.1\
              c1.3-1.5,1.9-3.2,1.9-5.4c0-2.2-0.6-3.9-1.9-5.2c-1.3-1.4-3-2-5-2C172.5,92.8,170.8,93.5,169.5,94.9z')
              path(d='M194.5,105.5c0.5,0.5,0.8,1.1,0.8,1.8c0,0.8-0.3,1.4-0.8,1.8c-0.5,0.5-1.2,0.7-1.8,0.7c-0.7,0-1.3-0.3-1.8-0.7\
              c-0.5-0.5-0.8-1.1-0.8-1.8c0-0.7,0.3-1.3,0.8-1.8c0.5-0.5,1.1-0.7,1.8-0.7S194,105,194.5,105.5z')
              path(d='M219.4,83.6c1.6,2.7,2.4,6.4,2.4,11s-0.8,8.3-2.4,11c-1.9,3.2-4.6,4.8-8.3,4.8c-3.7,0-6.4-1.6-8.3-4.8\
              c-1.6-2.7-2.4-6.4-2.4-11s0.8-8.3,2.4-11c1.8-3.2,4.6-4.8,8.3-4.8C214.8,78.8,217.5,80.3,219.4,83.6z M205.2,86.2\
              c-0.9,2.1-1.3,4.9-1.3,8.5c0,3.5,0.4,6.4,1.3,8.5c1.2,2.9,3.2,4.4,5.9,4.4s4.7-1.5,5.9-4.4c0.9-2.1,1.3-4.9,1.3-8.5\
              c0-3.6-0.5-6.4-1.3-8.5c-1.2-3-3.2-4.4-5.9-4.4S206.4,83.2,205.2,86.2z')
              path(d='M246.2,79.4v3.1h-14.9l-1,10.2h0.2c0.9-1,2-1.8,3.3-2.3c1.2-0.5,2.5-0.7,3.9-0.7c2.9,0,5.3,0.9,7.1,2.7\
              c1.8,1.9,2.7,4.4,2.7,7.7c0,3.1-1.1,5.6-3.3,7.6c-2.1,1.8-4.6,2.8-7.6,2.8c-2.7,0-5-0.7-6.9-2.2c-2.1-1.6-3.3-3.8-3.5-6.6h3.5\
              c0.2,1.9,0.9,3.4,2.3,4.4c1.2,0.9,2.8,1.4,4.7,1.4c2.1,0,3.9-0.7,5.3-2.1c1.4-1.4,2.1-3.1,2.1-5.3c0-2.4-0.7-4.3-2-5.6\
              c-1.2-1.4-3-2-5.2-2c-1.5,0-2.7,0.3-3.9,0.9c-1.2,0.6-2.1,1.5-2.7,2.7h-3.3l1.6-16.8H246.2z')
              path(d='M129.7,145.2c0,7.9-1.9,14.7-5.7,20.3l-2.4-2.1c3.3-4.7,5-10.7,5-18.2v-14.3h14.2c-0.6-1.6-1.3-3.1-2.1-4.5l3.2-0.5\
              c0.6,1.5,1.3,3.1,2,5h13.7v12.5h-28V145.2z M129.7,133.8v6.7h25v-6.7H129.7z M157.3,165.6h-3v-2.2h-18.8v2.2h-3v-16.5h24.8V165.6z\
              M154.3,160.5v-8.4h-18.8v8.4H154.3z')
              path(d='M183.7,140.8v3h-9.9c-1.7,6.5-3.2,11.1-4.5,13.9c3.4-0.7,6.8-1.7,10.1-2.9c-1.1-2.3-2.2-4.4-3.3-6.4l2.6-1.3\
              c2.1,3.7,4,7.7,5.8,12l-2.7,1.4c-0.4-1.1-0.9-2.1-1.3-3.1c-4.5,1.6-9.5,2.9-14.8,3.8l-0.7-2.9c0.3-0.1,0.5-0.2,0.7-0.3\
              c1.3-1.8,3-6.5,5.1-14.3h-5.9v-3H183.7z M182.1,129.3v3h-15.5v-3H182.1z M193.2,126.4v7.8h9.4c0,14.1-0.2,22.7-0.6,26.1\
              c-0.4,3.2-2.4,4.8-5.8,4.8c-0.8,0-2.1,0-3.9-0.1l-0.7-2.7c1.6,0.1,3,0.2,4.2,0.2c1.8,0,2.9-1.1,3.2-3.3c0.3-2.4,0.5-9.7,0.6-21.9\
              h-6.3v0.8c-0.1,12.7-3.1,21.9-9,27.7l-2.4-2.1c5.4-5.3,8.2-13.9,8.3-25.6v-0.8h-5.3v-3h5.3v-7.8H193.2z')
              path(d='M219.9,127.4c-1.1,3.3-2.5,6.5-4.2,9.4v28.6h-3.1v-23.9c-1.4,1.8-2.9,3.6-4.5,5.3l-1-3.2c4.6-5.1,7.9-11,10-17.6\
              L219.9,127.4z M243.6,128.9c-1.5,10.3-4.4,18.6-9.1,25c3.5,3.8,7.5,6.8,12.1,9l-1.8,2.7c-4.7-2.4-8.8-5.4-12.2-9.3\
              c-3.4,4-7.6,7.1-12.5,9.2l-1.7-2.7c4.8-2.1,8.8-5.1,12-9c-4.3-5.4-7.7-12.1-10.2-20.1l2.7-1.5c2.2,7.7,5.4,14,9.4,19.2\
              c4.2-6,7-13.7,8.3-23L243.6,128.9z M235,135.5l-2.5,1.7c-1.6-2.9-3.6-6-6-9.2l2.4-1.7C231.5,129.7,233.5,132.8,235,135.5z')
              path(d='M269.8,144v2.9h-7.5V158c3.2-0.6,6.2-1.3,9.2-2.1v3c-6.2,1.5-12.8,2.7-19.9,3.8l-0.7-2.9c2.8-0.3,5.6-0.8,8.4-1.2v-11.7\
              h-7.5V144H269.8z M271.9,133.9c-0.1-2.4-0.2-5-0.2-7.6h3.2c0,2.7,0,5.2,0.2,7.6h13.2v3h-13c0.5,7.2,1.6,13.1,3.3,17.9\
              c1.8,4.7,3.4,7.1,4.8,7.1c0.9-0.1,1.8-2.6,2.7-7.4l2.8,1.5c-1.3,6.2-3,9.3-5.2,9.3c-3.8-0.2-7-5-9.5-14.3c-1-4.1-1.6-8.8-2-14.2\
              H251v-3H271.9z M285.4,132.2l-2.6,1.3c-1.2-2.1-2.6-4-4-5.7l2.6-1.2C282.8,128.3,284.1,130.1,285.4,132.2z')
            g
              path(d='M1571.7,79.4v2.9l-11.2,27.7h-3.7l11.4-27.3h-16.5v-3.2H1571.7z')
              path(d='M1581.1,105.5c0.5,0.5,0.8,1.1,0.8,1.8c0,0.8-0.3,1.4-0.8,1.8s-1.2,0.7-1.8,0.7c-0.7,0-1.3-0.3-1.8-0.7\
              c-0.5-0.5-0.8-1.1-0.8-1.8c0-0.7,0.3-1.3,0.8-1.8c0.5-0.5,1.1-0.7,1.8-0.7S1580.6,105,1581.1,105.5z')
              path(d='M1606,83.6c1.6,2.7,2.4,6.4,2.4,11s-0.8,8.3-2.4,11c-1.9,3.2-4.6,4.8-8.3,4.8c-3.7,0-6.4-1.6-8.3-4.8\
              c-1.6-2.7-2.4-6.4-2.4-11s0.8-8.3,2.4-11c1.8-3.2,4.6-4.8,8.3-4.8C1601.4,78.8,1604.1,80.3,1606,83.6z M1591.8,86.2\
              c-0.9,2.1-1.3,4.9-1.3,8.5c0,3.5,0.4,6.4,1.3,8.5c1.2,2.9,3.2,4.4,5.9,4.4s4.7-1.5,5.9-4.4c0.9-2.1,1.3-4.9,1.3-8.5\
              c0-3.6-0.5-6.4-1.3-8.5c-1.2-3-3.2-4.4-5.9-4.4S1593,83.2,1591.8,86.2z')
              path(d='M1630.8,81.2c1.8,1.6,2.7,3.8,2.7,6.5c0,2.7-1,5-3,7.2c-1.1,1.1-3.2,2.8-6.3,4.9c-3.9,2.6-6.1,5-6.7,7h16v3.1h-20.4\
              c0-2.8,1-5.3,3-7.6c1.2-1.4,3.4-3.2,6.6-5.4c2.4-1.7,4-3,4.8-3.8c1.5-1.7,2.3-3.5,2.3-5.5c0-1.9-0.6-3.3-1.7-4.3\
              c-1.1-1-2.7-1.5-4.7-1.5c-2.1,0-3.7,0.7-4.8,2.1c-1.2,1.4-1.8,3.4-1.9,6.1h-3.5c0-3.4,1-6.2,2.9-8.2c1.9-2.1,4.4-3.1,7.5-3.1\
              C1626.6,78.8,1628.9,79.6,1630.8,81.2z')
              path(d='M1528.6,141.1l-2.6,1.2c0,9.8-0.3,15.9-0.6,18.3c-0.3,2.7-2,4-4.9,4c-0.6,0-1.5,0-2.9-0.1l-0.7-2.7\
              c1.2,0.1,2.3,0.1,3.2,0.1c1.4,0,2.2-0.9,2.4-2.5c0.3-1.7,0.4-6.8,0.5-15.2h-4.3c-0.3,9.8-2.8,16.9-7.5,21.3l-1.8-2.8\
              c4-3.7,6.1-9.9,6.3-18.5h-3.7v-2.2l-0.2,0.3l-2.4-2.1c2.4-3.3,4.2-7.7,5.4-13.3l2.7,1.1c-1.3,5.6-3,10-5,13.2h12.6\
              c-1.5-5.1-3-9.6-4.7-13.6l2.8-0.9C1525.3,131.2,1527.1,136,1528.6,141.1z M1539.9,140.8v7.4c-0.1,4.7-1.1,8.4-2.9,11.2\
              c-1.8,2.6-4.6,4.6-8.6,6.1l-1.7-2.7c3.8-1.4,6.4-3.2,7.9-5.4c1.4-2.4,2.1-5.5,2.2-9.2v-7.4H1539.9z M1548.4,127.9v2.9h-8.6\
              c-0.1,1.6-0.3,3.2-0.4,4.7h7.6v20.1h-3v-17.2h-11.2v17.2h-3v-20.1h6.3c0.2-1.5,0.4-3,0.5-4.7h-8.3v-2.9H1548.4z M1548.6,163.1\
              l-2.3,2.3c-1.7-2.3-4-4.8-6.9-7.5l2.1-2C1544.4,158.4,1546.8,160.8,1548.6,163.1z')
              path(d='M1570.3,150.1c0.1-1,0.2-2.2,0.3-3.6h3c0,1.3-0.1,2.5-0.2,3.6h16.9v3h-16.2c2.8,4.6,8.5,7.7,17.1,9.3l-1.2,2.9\
              c-9.4-2.1-15.4-5.6-17.9-10.7c-2.6,5-8.7,8.6-18.4,10.9l-1.3-2.9c9.1-1.9,14.8-5.1,17-9.4h-16v-3H1570.3z M1568,126.5v19.7h-3.2\
              v-6.1c-3.1,1.6-6.6,3.1-10.7,4.4l-1.2-2.8c4.6-1.4,8.6-3,11.9-4.7v-10.5H1568z M1562.7,133l-1.7,2.6c-2.3-2.1-4.7-3.7-7.1-4.8\
              l1.7-2.4C1558.2,129.6,1560.6,131.1,1562.7,133z M1580.6,126.7c-0.4,1-0.9,2.1-1.5,3h10.3v2.6c-2.1,6.5-8,11-17.7,13.7l-1.5-2.7\
              c3.3-0.9,6.2-1.9,8.6-3.2c-1.4-1.4-2.7-2.6-3.9-3.5l2.1-1.6c1.4,1.2,2.7,2.4,4,3.7c2.4-1.8,4.2-3.8,5.3-6.2h-9.4\
              c-1.6,1.7-3.5,3.2-5.8,4.7l-1.9-2.5c4-2.3,6.8-5.1,8.2-8.4L1580.6,126.7z')
              path(d='M1607.6,127.4c-1.1,3.3-2.5,6.5-4.2,9.4v28.6h-3.1v-23.9c-1.4,1.8-2.9,3.6-4.5,5.3l-1-3.2c4.6-5.1,7.9-11,10-17.6\
              L1607.6,127.4z M1631.3,128.9c-1.5,10.3-4.4,18.6-9.1,25c3.5,3.8,7.5,6.8,12.1,9l-1.8,2.7c-4.7-2.4-8.8-5.4-12.2-9.3\
              c-3.4,4-7.6,7.1-12.5,9.2l-1.7-2.7c4.8-2.1,8.8-5.1,12-9c-4.3-5.4-7.7-12.1-10.2-20.1l2.7-1.5c2.2,7.7,5.4,14,9.4,19.2\
              c4.2-6,7-13.7,8.3-23L1631.3,128.9z M1622.7,135.5l-2.5,1.7c-1.6-2.9-3.6-6-6-9.2l2.4-1.7C1619.2,129.7,1621.3,132.8,1622.7,135.5\
              z')
              path(d='M1657.5,144v2.9h-7.5V158c3.2-0.6,6.2-1.3,9.2-2.1v3c-6.2,1.5-12.8,2.7-19.9,3.8l-0.7-2.9c2.8-0.3,5.6-0.8,8.4-1.2v-11.7\
              h-7.5V144H1657.5z M1659.7,133.9c-0.1-2.4-0.2-5-0.2-7.6h3.2c0,2.7,0,5.2,0.2,7.6h13.2v3h-13c0.5,7.2,1.6,13.1,3.3,17.9\
              c1.8,4.7,3.4,7.1,4.8,7.1c0.9-0.1,1.8-2.6,2.7-7.4l2.8,1.5c-1.3,6.2-3,9.3-5.2,9.3c-3.8-0.2-7-5-9.5-14.3c-1-4.1-1.6-8.8-2-14.2\
              h-21.1v-3H1659.7z M1673.1,132.2l-2.6,1.3c-1.2-2.1-2.6-4-4-5.7l2.6-1.2C1670.5,128.3,1671.8,130.1,1673.1,132.2z')
            g
              path(d='M474.2,637.9c-2.2,5.6-4.4,10-6.6,13.3c1.9-0.2,3.8-0.4,5.8-0.7c0.8-1.5,1.6-3.2,2.5-4.9l2.7,1\
              c-3.8,7.2-6.9,12.4-9.4,15.4c3.1-0.6,6.2-1.4,9.2-2.4v2.8c-4.5,1.5-8.8,2.5-12.9,3l-0.9-2.8c0.6-0.3,1-0.6,1.4-0.9\
              c1.6-1.6,3.5-4.4,5.7-8.4c-2.4,0.3-4.7,0.6-7.1,0.9l-0.7-2.8c0.5-0.2,0.9-0.6,1.3-1.1c2.3-3.9,4.3-8.5,6-13.6L474.2,637.9z\
              M478.8,670.6c-4.2,1.6-9,2.9-14.4,3.9l-0.4-3c5.6-0.9,10.6-2.3,14.8-3.9V670.6z M500,647.3l-11,1.5c0.1,2.1,0.2,4,0.4,5.8\
              l11.3-1.8l0.5,2.9l-11.5,1.8c0.1,0.8,0.2,1.5,0.3,2.2c0.4,2.2,0.9,4.1,1.5,5.9c2.3-2.1,4.4-4.5,6.2-7.3l2.4,1.7\
              c-2.3,3.3-4.7,6.1-7.4,8.4c0.2,0.3,0.3,0.6,0.5,0.8c1.4,2.1,2.7,3.2,3.8,3.2c1.1,0,2.1-2.3,2.9-6.9l2.6,1.7\
              c-1.2,5.6-2.9,8.5-5.1,8.5c-2.1-0.1-4-1.4-5.8-3.9c-0.4-0.5-0.7-1-1-1.6c-3.2,2.4-6.6,4.1-10.2,5.2l-1.8-2.5\
              c3.9-1.3,7.5-3.1,10.6-5.4c-0.8-1.9-1.5-3.9-2-6.2c-0.3-1.1-0.4-2.2-0.6-3.3l-7.7,1.2l-0.4-2.9l7.7-1.2c-0.2-1.8-0.3-3.8-0.4-5.9\
              l-6.2,0.9l-0.5-2.8l6.5-0.9V637h3.1v9.1l10.6-1.5L500,647.3z M498.8,642.1l-2.4,1.7c-1.2-1.7-2.9-3.5-5-5.5l2.4-1.5\
              C495.9,638.9,497.6,640.6,498.8,642.1z')
              path(d='M544.9,639.2v3h-18.6v6.5c5.3,2.7,10.7,5.7,16.2,9.2l-1.8,2.7c-5.7-3.8-10.5-6.7-14.3-8.7v24.3h-3.1v-34h-16.3v-3H544.9z')
              path(d='M560.4,648.5v6.6h4.3v2.8h-4.3v6c1.6-0.3,3.2-0.7,4.6-1.1v2.9c-1.5,0.4-3,0.8-4.6,1.1v9.4h-3v-8.8\
              c-2.5,0.5-5.1,0.9-7.8,1.2l-0.4-3c2.9-0.3,5.6-0.7,8.2-1.2V658h-7.1l-0.6-2.7c1.2-2.6,2.4-5.9,3.4-10h-3.8v-3h4.5\
              c0.4-1.8,0.8-3.5,1.1-5.4l2.9,0.5c-0.3,1.7-0.7,3.3-1,4.9h7.7v3h-8.5c-1,3.8-2.1,7.1-3.2,9.9h4.6v-6.6H560.4z M575.1,642.4v-5.3\
              h2.9v5.3h5.7c-0.9-1.3-2.1-2.7-3.5-4.1l2.1-1.3c1.5,1.6,2.8,3.1,3.6,4.3l-1.6,1.1h3.9v2.9H578v3.9h8.7v23.1c0,2.4-1.1,3.6-3.2,3.6\
              h-3l-0.8-2.9l2.8,0.1c0.9,0,1.3-0.5,1.3-1.4v-5H578v9.1h-2.9v-9.1h-5.6v9.4h-2.9v-26.9h8.5v-3.9h-9.1v-2.9H575.1z M569.4,652v4.8\
              h5.6V652H569.4z M569.4,664.1h5.6v-4.7h-5.6V664.1z M583.9,652H578v4.8h5.9V652z M583.9,659.4H578v4.7h5.9V659.4z')
              path(d='M618.2,660.6V658h3.1v2.7h9.4v3h-9.4v9.1c0,2.4-1.3,3.6-3.9,3.6h-5.5l-0.7-3c1.8,0.1,3.5,0.2,5.1,0.2\
              c1.2,0,1.9-0.5,1.9-1.5v-8.3h-26v-3H618.2z M624.2,648.8h-24.5v3.1c0,1.2,0.6,1.8,1.8,1.8h22.9c0.9,0,1.4-0.3,1.8-0.9\
              c0.3-0.5,0.5-1.6,0.7-3.4l2.9,0.9c-0.2,1.9-0.5,3.3-0.9,4.1c-0.6,1.3-1.8,1.9-3.6,2h-24.9c-2.6,0-3.8-1.2-3.8-3.5v-14.4h27.6\
              V648.8z M621.2,646v-4.6h-21.4v4.6H621.2z M609.2,671.6l-2.3,2.3c-1.7-2.2-4.1-4.5-7.1-6.9l2.2-2.1\
              C604.9,667.1,607.3,669.4,609.2,671.6z')
              path(d='M534.7,700.2h-3.5c-0.7-3.5-2.8-5.2-6.3-5.2c-2.4,0-4.3,1.2-5.6,3.5c-1.4,2.2-2,5.1-2,8.6c0,0.2,0,0.6,0,1.1h0.2\
              c0.8-1.6,1.8-2.8,3.3-3.7c1.4-0.9,3-1.3,4.7-1.3c2.9,0,5.3,0.9,7.1,2.8c1.8,1.9,2.7,4.3,2.7,7.3c0,3-1,5.5-2.9,7.5\
              c-2,2-4.4,3-7.4,3c-3.7,0-6.5-1.4-8.4-4.1c-1.8-2.6-2.7-6.2-2.7-10.9c0-4.9,0.9-8.9,2.9-11.9c2-3.2,4.7-4.8,8.2-4.8\
              C530.6,692.1,533.9,694.8,534.7,700.2z M519.8,708.2c-1.3,1.4-2,3.1-2,5.2s0.6,3.9,1.9,5.3c1.3,1.5,3,2.2,5.1,2.2\
              c2.1,0,3.7-0.7,5-2.1c1.3-1.5,1.9-3.2,1.9-5.4c0-2.2-0.6-3.9-1.9-5.2c-1.3-1.4-3-2-5-2C522.8,706.1,521.2,706.8,519.8,708.2z')
              path(d='M544.9,718.8c0.5,0.5,0.8,1.1,0.8,1.8c0,0.8-0.3,1.4-0.8,1.8c-0.5,0.5-1.2,0.7-1.8,0.7c-0.7,0-1.3-0.3-1.8-0.7\
              c-0.5-0.5-0.8-1.1-0.8-1.8s0.3-1.3,0.8-1.8c0.5-0.5,1.1-0.7,1.8-0.7S544.3,718.3,544.9,718.8z')
              path(d='M561.2,692.7v30.5h-3.5v-26.3c-1.9,2-4.3,3.3-7.2,4.2v-3.5c1.4-0.4,2.8-1,4.3-1.8c1.5-0.9,2.7-2,3.7-3.1H561.2z')
              path(d='M578.4,692.7v30.5h-3.5v-26.3c-1.9,2-4.3,3.3-7.2,4.2v-3.5c1.4-0.4,2.8-1,4.3-1.8c1.5-0.9,2.7-2,3.7-3.1H578.4z')
            g
              path(d='M1173.4,637.9c-2.2,5.6-4.4,10-6.6,13.3c1.9-0.2,3.8-0.4,5.8-0.7c0.8-1.5,1.6-3.2,2.5-4.9l2.7,1\
              c-3.8,7.2-6.9,12.4-9.4,15.4c3.1-0.6,6.2-1.4,9.2-2.4v2.8c-4.5,1.5-8.8,2.5-12.9,3l-0.9-2.8c0.6-0.3,1-0.6,1.4-0.9\
              c1.6-1.6,3.5-4.4,5.7-8.4c-2.4,0.3-4.7,0.6-7.1,0.9l-0.7-2.8c0.5-0.2,0.9-0.6,1.3-1.1c2.3-3.9,4.3-8.5,6-13.6L1173.4,637.9z\
              M1178.1,670.6c-4.2,1.6-9,2.9-14.4,3.9l-0.4-3c5.6-0.9,10.6-2.3,14.8-3.9V670.6z M1199.3,647.3l-11,1.5c0.1,2.1,0.2,4,0.4,5.8\
              l11.3-1.8l0.5,2.9l-11.5,1.8c0.1,0.8,0.2,1.5,0.3,2.2c0.4,2.2,0.9,4.1,1.5,5.9c2.3-2.1,4.4-4.5,6.2-7.3l2.4,1.7\
              c-2.3,3.3-4.7,6.1-7.4,8.4c0.2,0.3,0.3,0.6,0.5,0.8c1.4,2.1,2.7,3.2,3.8,3.2c1.1,0,2.1-2.3,2.9-6.9l2.6,1.7\
              c-1.2,5.6-2.9,8.5-5.1,8.5c-2.1-0.1-4-1.4-5.8-3.9c-0.4-0.5-0.7-1-1-1.6c-3.2,2.4-6.6,4.1-10.2,5.2l-1.8-2.5\
              c3.9-1.3,7.5-3.1,10.6-5.4c-0.8-1.9-1.5-3.9-2-6.2c-0.3-1.1-0.4-2.2-0.6-3.3l-7.7,1.2l-0.4-2.9l7.7-1.2c-0.2-1.8-0.3-3.8-0.4-5.9\
              l-6.2,0.9l-0.5-2.8l6.5-0.9V637h3.1v9.1l10.6-1.5L1199.3,647.3z M1198,642.1l-2.4,1.7c-1.2-1.7-2.9-3.5-5-5.5l2.4-1.5\
              C1195.2,638.9,1196.8,640.6,1198,642.1z')
              path(d='M1244.2,639.2v3h-18.6v6.5c5.3,2.7,10.7,5.7,16.2,9.2l-1.8,2.7c-5.7-3.8-10.5-6.7-14.3-8.7v24.3h-3.1v-34h-16.3v-3H1244.2\
              z')
              path(d='M1259.6,648.5v6.6h4.3v2.8h-4.3v6c1.6-0.3,3.2-0.7,4.6-1.1v2.9c-1.5,0.4-3,0.8-4.6,1.1v9.4h-3v-8.8\
              c-2.5,0.5-5.1,0.9-7.8,1.2l-0.4-3c2.9-0.3,5.6-0.7,8.2-1.2V658h-7.1l-0.6-2.7c1.2-2.6,2.4-5.9,3.4-10h-3.8v-3h4.5\
              c0.4-1.8,0.8-3.5,1.1-5.4l2.9,0.5c-0.3,1.7-0.7,3.3-1,4.9h7.7v3h-8.5c-1,3.8-2.1,7.1-3.2,9.9h4.6v-6.6H1259.6z M1274.3,642.4v-5.3\
              h2.9v5.3h5.7c-0.9-1.3-2.1-2.7-3.5-4.1l2.1-1.3c1.5,1.6,2.8,3.1,3.6,4.3l-1.6,1.1h3.9v2.9h-10.2v3.9h8.7v23.1\
              c0,2.4-1.1,3.6-3.2,3.6h-3l-0.8-2.9l2.8,0.1c0.9,0,1.3-0.5,1.3-1.4v-5h-5.9v9.1h-2.9v-9.1h-5.6v9.4h-2.9v-26.9h8.5v-3.9h-9.1v-2.9\
              H1274.3z M1268.7,652v4.8h5.6V652H1268.7z M1268.7,664.1h5.6v-4.7h-5.6V664.1z M1283.1,652h-5.9v4.8h5.9V652z M1283.1,659.4h-5.9\
              v4.7h5.9V659.4z')
              path(d='M1317.5,660.6V658h3.1v2.7h9.4v3h-9.4v9.1c0,2.4-1.3,3.6-3.9,3.6h-5.5l-0.7-3c1.8,0.1,3.5,0.2,5.1,0.2\
              c1.2,0,1.9-0.5,1.9-1.5v-8.3h-26v-3H1317.5z M1323.5,648.8H1299v3.1c0,1.2,0.6,1.8,1.8,1.8h22.9c0.9,0,1.4-0.3,1.8-0.9\
              c0.3-0.5,0.5-1.6,0.7-3.4l2.9,0.9c-0.2,1.9-0.5,3.3-0.9,4.1c-0.6,1.3-1.8,1.9-3.6,2h-24.9c-2.6,0-3.8-1.2-3.8-3.5v-14.4h27.6\
              V648.8z M1320.4,646v-4.6H1299v4.6H1320.4z M1308.5,671.6l-2.3,2.3c-1.7-2.2-4.1-4.5-7.1-6.9l2.2-2.1\
              C1304.1,667.1,1306.5,669.4,1308.5,671.6z')
              path(d='M1225.5,700.2h-3.5c-0.7-3.5-2.8-5.2-6.3-5.2c-2.4,0-4.3,1.2-5.6,3.5c-1.4,2.2-2,5.1-2,8.6c0,0.2,0,0.6,0,1.1h0.2\
              c0.8-1.6,1.8-2.8,3.3-3.7c1.4-0.9,3-1.3,4.7-1.3c2.9,0,5.3,0.9,7.1,2.8c1.8,1.9,2.7,4.3,2.7,7.3c0,3-1,5.5-2.9,7.5\
              c-2,2-4.4,3-7.4,3c-3.7,0-6.5-1.4-8.4-4.1c-1.8-2.6-2.7-6.2-2.7-10.9c0-4.9,0.9-8.9,2.9-11.9c2-3.2,4.7-4.8,8.2-4.8\
              C1221.4,692.1,1224.6,694.8,1225.5,700.2z M1210.6,708.2c-1.3,1.4-2,3.1-2,5.2s0.6,3.9,1.9,5.3c1.3,1.5,3,2.2,5.1,2.2\
              c2.1,0,3.7-0.7,5-2.1c1.3-1.5,1.9-3.2,1.9-5.4c0-2.2-0.6-3.9-1.9-5.2c-1.3-1.4-3-2-5-2C1213.6,706.1,1211.9,706.8,1210.6,708.2z')
              path(d='M1235.6,718.8c0.5,0.5,0.8,1.1,0.8,1.8c0,0.8-0.3,1.4-0.8,1.8c-0.5,0.5-1.2,0.7-1.8,0.7c-0.7,0-1.3-0.3-1.8-0.7\
              c-0.5-0.5-0.8-1.1-0.8-1.8s0.3-1.3,0.8-1.8c0.5-0.5,1.1-0.7,1.8-0.7S1235.1,718.3,1235.6,718.8z')
              path(d='M1259.6,694.5c1.8,1.6,2.7,3.8,2.7,6.5c0,2.7-1,5-3,7.2c-1.1,1.1-3.2,2.8-6.3,4.9c-3.9,2.6-6.1,5-6.7,7h16v3.1h-20.4\
              c0-2.8,1-5.3,3-7.6c1.2-1.4,3.4-3.2,6.6-5.4c2.4-1.7,4-3,4.8-3.8c1.5-1.7,2.4-3.5,2.4-5.5c0-1.9-0.6-3.3-1.7-4.3s-2.7-1.5-4.7-1.5\
              c-2.1,0-3.7,0.7-4.8,2.1c-1.2,1.4-1.8,3.4-1.9,6.1h-3.5c0-3.4,1-6.2,2.9-8.2c1.9-2.1,4.4-3.1,7.5-3.1\
              C1255.5,692.1,1257.8,692.9,1259.6,694.5z')
              path(d='M1287.3,692.7v3.1h-14.9l-1,10.2h0.2c0.9-1,2-1.8,3.3-2.3c1.2-0.5,2.5-0.7,3.9-0.7c2.9,0,5.3,0.9,7.1,2.7\
              c1.8,1.9,2.7,4.4,2.7,7.7c0,3.1-1.1,5.6-3.3,7.6c-2.1,1.8-4.6,2.8-7.6,2.8c-2.7,0-5-0.7-6.9-2.2c-2.1-1.6-3.3-3.8-3.5-6.6h3.5\
              c0.2,1.9,0.9,3.4,2.3,4.4c1.2,0.9,2.8,1.4,4.7,1.4c2.1,0,3.9-0.7,5.3-2.1c1.4-1.4,2.1-3.1,2.1-5.3c0-2.4-0.7-4.3-2-5.6\
              c-1.2-1.4-3-2-5.2-2c-1.5,0-2.7,0.3-3.9,0.9c-1.2,0.6-2.1,1.5-2.7,2.7h-3.3l1.6-16.8H1287.3z')
            g
              path.st0(d='M576.7,139.6c-6.7,16.9-13.4,30.7-20.2,41.2c4.9-0.6,9.8-1.1,14.8-1.8c2.5-4.8,5-9.9,7.7-15.3l11.9,4.5\
              c-11.3,21.8-20.9,37.8-28.7,47.9c9-2,17.9-4.5,27.2-7.6v11.9c-15.1,5-29.4,8.5-42.8,10.2l-3.6-12c2.4-1,4.3-2.2,6-3.8\
              c4.2-4.6,9.5-12.6,16-23.9c-6.7,0.8-13.6,1.8-20.7,2.8l-3.2-12c2-0.8,3.8-2.5,5.5-4.9c6.7-12.6,12.5-26.7,17.5-42.1L576.7,139.6z\
              M590.8,247.3c-13.7,5.3-29.3,9.5-46.8,12.7l-1.7-13c18.5-3.1,34.7-7.1,48.4-12.2V247.3z M660.8,171.4l-35,4.9\
              c0.3,5.6,0.6,10.8,1.1,15.8l35.8-5.6l2,12.6l-36.3,5.7l0.6,4.1c1.1,6.6,2.7,12.5,4.5,17.6c6.4-6.2,12.3-13.2,17.5-21l10.5,7.1\
              c-7,10.1-14.4,18.9-22.5,26.2c4.2,6.4,8,9.8,11.3,9.8c3.2,0,5.9-6.7,8.1-20l11.3,7.6c-4.2,17.9-10.1,27-17.9,27\
              c-7-0.1-13.7-4.5-20-12.9c-1-1.3-1.8-2.5-2.5-3.6c-10.1,7.3-20.7,12.6-31.9,16l-7.7-10.6c12.6-3.9,23.8-9.5,33.6-16.8\
              c-2.5-5.9-4.5-12.3-6.2-19.3c-0.7-2.9-1.3-6-1.8-9.1l-23.9,3.8l-1.8-12.6l24.1-3.8c-0.6-5.2-0.8-10.5-1.1-16.1l-18.6,2.7l-2-12.3\
              l20.3-2.9v-30.1h13.3v28.3l33.5-4.6L660.8,171.4z M656.9,151.4l-10.4,7.3c-3.8-5.3-9-11.1-15.4-17.4l10.1-6.4\
              C647.9,141.3,653.3,146.8,656.9,151.4z')
              path.st0(d='M801.5,135.4v42.1h51.8v12.9h-51.8v56.3h62.6v12.9H738.7v-12.9h49.1V135.4H801.5z')
              path.st0(d='M938.2,263.4l-2.9-12.7c3.9,0.6,7.6,0.8,11.1,0.8c3.4,0,5-2,5-5.6v-29.5c-5.5,2-10.9,3.8-16.2,5.5l-3.4-13.4\
              c6.7-1.4,13.2-3.2,19.6-5.3v-29.1h-16.8v-12.7h16.8v-25.3h13v25.3h10.5v12.7h-10.5v24.2c4.5-2,9-4.1,13.4-6.3V205\
              c-4.5,2.2-9,4.2-13.4,6.2v38.1c0,9.4-4.5,14.1-13.4,14.1H938.2z M999.6,135.9h12.2v67.5c-0.4,28.3-9.1,49-25.9,62.2l-9.9-8.8\
              c13.7-9.8,21.4-24.6,23.2-44.8c-5.6,6.9-11.8,12.7-18.8,17.8l-7.1-12c9.9-5.5,18.8-12.6,26.3-21.6V135.9z M999.5,185.8l-10.1,5.2\
              c-3.9-11.5-8-21.7-12.3-30.7l10.9-5.2C991.9,164.4,995.8,174.6,999.5,185.8z M1059.3,157c-4.8,11.8-10.2,22-16.4,30.7l-9.5-6.9\
              v11.1c9.8,6,18.9,13.2,27.2,21.4l-7.4,11.6c-6.6-7.8-13.2-14.3-19.7-19.6v39.3c0,3.9,1.3,6,3.8,6h4.6c2.2,0,3.9-1,5-2.7\
              c1.1-2.1,2-8.3,2.4-18.6l11.9,3.8c-1.1,14-2.9,22.5-5.5,25.3c-2.5,2.5-6.4,3.8-11.5,3.8h-10.8c-8.4,0-12.6-5-12.6-15.1V135.7h12.6\
              v43.4c5.7-8,10.5-17.2,14.4-27.9L1059.3,157z')
              path.st0(d='M1164.5,136v23.1h26.5v12.3h-26.5v23h21.4v53.3c10.2-5.2,19.5-11.9,27.9-20.3c-1.7-4.9-3.1-10.2-4.5-16\
              c-1.7-7.3-3.1-15.5-4.1-24.8l-18.2,3.4l-2-12.2l19-3.4c-0.8-11.6-1.3-24.5-1.3-38.6h12.9c0.1,13.7,0.6,25.8,1.3,36.3l36.1-6.4\
              l1.8,12.2l-37.1,6.6c0.8,9.4,2,17.1,3.4,23.1l2.1,9.1c6.4-8.4,12.3-17.9,17.6-28.7l10.4,7c-7.3,14-15.1,25.9-23.5,35.8\
              c1.1,3.1,2.4,5.6,3.6,7.8c3.6,6.2,6.4,9.4,8.4,9.4c2.2,0,4.5-6.6,6.7-19.6l10.8,5.9c-3.5,19-8.7,28.6-15.4,28.6\
              c-5.6,0-11.3-4.2-17.2-12.6c-2.2-2.9-4.2-6.3-5.9-9.9c-9.7,9.1-19.9,15.8-30.7,20.2l-7.6-10.2c0.3-0.3,0.7-0.4,1-0.4h-35.6v9.7\
              h-12.7v-65.1h18.3V136H1164.5z M1173.4,237.6v-30.9h-27.3v30.9H1173.4z M1247,157.3l-9.8,6.7c-3.8-5.9-9-12.3-15.4-19.5l9.5-5.9\
              C1238,145.8,1243.4,152,1247,157.3z')
            g
              path(d='M824.8,637.6c-2.2,5.6-4.4,10-6.6,13.3c1.9-0.2,3.8-0.4,5.8-0.7c0.8-1.5,1.6-3.2,2.5-4.9l2.7,1\
              c-3.8,7.2-6.9,12.4-9.4,15.4c3.1-0.6,6.2-1.4,9.2-2.4v2.8c-4.5,1.5-8.8,2.5-12.9,3l-0.9-2.8c0.6-0.3,1-0.6,1.4-0.9\
              c1.6-1.6,3.5-4.4,5.7-8.4c-2.4,0.3-4.7,0.6-7.1,0.9l-0.7-2.8c0.5-0.2,0.9-0.6,1.3-1.1c2.3-3.9,4.3-8.5,6-13.6L824.8,637.6z\
              M829.5,670.3c-4.2,1.6-9,2.9-14.4,3.9l-0.4-3c5.6-0.9,10.6-2.3,14.8-3.9V670.3z M850.6,647l-11,1.5c0.1,2.1,0.2,4,0.4,5.8\
              l11.3-1.8l0.5,2.9l-11.5,1.8c0.1,0.8,0.2,1.5,0.3,2.2c0.4,2.2,0.9,4.1,1.5,5.9c2.3-2.1,4.4-4.5,6.2-7.3l2.4,1.7\
              c-2.3,3.3-4.7,6.1-7.4,8.4c0.2,0.3,0.3,0.6,0.5,0.8c1.4,2.1,2.7,3.2,3.8,3.2c1.1,0,2.1-2.3,2.9-6.9l2.6,1.7\
              c-1.2,5.6-2.9,8.5-5.1,8.5c-2.1-0.1-4-1.4-5.8-3.9c-0.4-0.5-0.7-1-1-1.6c-3.2,2.4-6.6,4.1-10.2,5.2l-1.8-2.5\
              c3.9-1.3,7.5-3.1,10.6-5.4c-0.8-1.9-1.5-3.9-2-6.2c-0.3-1.1-0.4-2.2-0.6-3.3l-7.7,1.2l-0.4-2.9l7.7-1.2c-0.2-1.8-0.3-3.8-0.4-5.9\
              l-6.2,0.9l-0.5-2.8l6.5-0.9v-9.5h3.1v9.1l10.6-1.5L850.6,647z M849.4,641.8l-2.4,1.7c-1.2-1.7-2.9-3.5-5-5.5l2.4-1.5\
              C846.5,638.6,848.2,640.3,849.4,641.8z')
              path(d='M895.6,638.9v3H877v6.5c5.3,2.7,10.7,5.7,16.2,9.2l-1.8,2.7c-5.7-3.8-10.5-6.7-14.3-8.7v24.3h-3.1v-34h-16.3v-3H895.6z')
              path(d='M911,648.2v6.6h4.3v2.8H911v6c1.6-0.3,3.2-0.7,4.6-1.1v2.9c-1.5,0.4-3,0.8-4.6,1.1v9.4h-3v-8.8c-2.5,0.5-5.1,0.9-7.8,1.2\
              l-0.4-3c2.9-0.3,5.6-0.7,8.2-1.2v-6.5h-7.1l-0.6-2.7c1.2-2.6,2.4-5.9,3.4-10h-3.8v-3h4.5c0.4-1.8,0.8-3.5,1.1-5.4l2.9,0.5\
              c-0.3,1.7-0.7,3.3-1,4.9h7.7v3h-8.5c-1,3.8-2.1,7.1-3.2,9.9h4.6v-6.6H911z M925.7,642.1v-5.3h2.9v5.3h5.7\
              c-0.9-1.3-2.1-2.7-3.5-4.1l2.1-1.3c1.5,1.6,2.8,3.1,3.6,4.3l-1.6,1.1h3.9v2.9h-10.2v3.9h8.7V672c0,2.4-1.1,3.6-3.2,3.6h-3\
              l-0.8-2.9l2.8,0.1c0.9,0,1.3-0.5,1.3-1.4v-5h-5.9v9.1h-2.9v-9.1h-5.6v9.4h-2.9v-26.9h8.5V645h-9.1v-2.9H925.7z M920.1,651.7v4.8\
              h5.6v-4.8H920.1z M920.1,663.8h5.6v-4.7h-5.6V663.8z M934.5,651.7h-5.9v4.8h5.9V651.7z M934.5,659.1h-5.9v4.7h5.9V659.1z')
              path(d='M968.8,660.3v-2.7h3.1v2.7h9.4v3h-9.4v9.1c0,2.4-1.3,3.6-3.9,3.6h-5.5l-0.7-3c1.8,0.1,3.5,0.2,5.1,0.2\
              c1.2,0,1.9-0.5,1.9-1.5v-8.3h-26v-3H968.8z M974.9,648.5h-24.5v3.1c0,1.2,0.6,1.8,1.8,1.8h22.9c0.9,0,1.4-0.3,1.8-0.9\
              c0.3-0.5,0.5-1.6,0.7-3.4l2.9,0.9c-0.2,1.9-0.5,3.3-0.9,4.1c-0.6,1.3-1.8,1.9-3.6,2h-24.9c-2.6,0-3.8-1.2-3.8-3.5v-14.4h27.6\
              V648.5z M971.8,645.7v-4.6h-21.4v4.6H971.8z M959.9,671.3l-2.3,2.3c-1.7-2.2-4.1-4.5-7.1-6.9l2.2-2.1\
              C955.5,666.8,957.9,669.1,959.9,671.3z')
              path(d='M881.1,699.9h-3.5c-0.7-3.5-2.8-5.2-6.3-5.2c-2.4,0-4.3,1.2-5.6,3.5c-1.4,2.2-2,5.1-2,8.6c0,0.2,0,0.6,0,1.1h0.2\
              c0.8-1.6,1.8-2.8,3.3-3.7c1.4-0.9,3-1.3,4.7-1.3c2.9,0,5.3,0.9,7.1,2.8c1.8,1.9,2.7,4.3,2.7,7.3c0,3-1,5.5-2.9,7.5\
              c-2,2-4.4,3-7.4,3c-3.7,0-6.5-1.4-8.4-4.1c-1.8-2.6-2.7-6.2-2.7-10.9c0-4.9,0.9-8.9,2.9-11.9c2-3.2,4.7-4.8,8.2-4.8\
              C877,691.7,880.2,694.4,881.1,699.9z M866.2,707.9c-1.3,1.4-2,3.1-2,5.2s0.6,3.9,1.9,5.3c1.3,1.5,3,2.2,5.1,2.2\
              c2.1,0,3.7-0.7,5-2.1c1.3-1.5,1.9-3.2,1.9-5.4c0-2.2-0.6-3.9-1.9-5.2c-1.3-1.4-3-2-5-2C869.2,705.8,867.5,706.5,866.2,707.9z')
              path(d='M891.2,718.5c0.5,0.5,0.8,1.1,0.8,1.8c0,0.8-0.3,1.4-0.8,1.8c-0.5,0.5-1.2,0.7-1.8,0.7c-0.7,0-1.3-0.3-1.8-0.7\
              c-0.5-0.5-0.8-1.1-0.8-1.8s0.3-1.3,0.8-1.8c0.5-0.5,1.1-0.7,1.8-0.7S890.7,718,891.2,718.5z')
              path(d='M907.6,692.3v30.5h-3.5v-26.3c-1.9,2-4.3,3.3-7.2,4.2v-3.5c1.4-0.4,2.8-1,4.3-1.8c1.5-0.9,2.7-2,3.7-3.1H907.6z')
              path(d='M932.5,694.2c1.6,1.5,2.5,3.4,2.5,5.6c0,1.6-0.4,3-1.2,4.1c-0.9,1.2-2.1,2.1-3.6,2.7v0.1c1.6,0.4,3,1.3,4.1,2.7\
              c1.2,1.5,1.8,3.2,1.8,5.1c0,2.7-0.9,4.9-2.8,6.5c-2,1.7-4.7,2.5-8.2,2.5c-3.5,0-6.3-0.9-8.2-2.5c-1.9-1.6-2.8-3.8-2.8-6.5\
              c0-2,0.6-3.7,1.8-5.1c1.1-1.4,2.4-2.3,4.1-2.7v-0.1c-1.6-0.6-2.8-1.5-3.6-2.7c-0.8-1.1-1.2-2.5-1.2-4.1c0-2.2,0.8-4.1,2.5-5.6\
              c1.8-1.7,4.3-2.5,7.5-2.5C928.2,691.7,930.7,692.6,932.5,694.2z M919.3,710c-1.3,1.1-1.9,2.6-1.9,4.4c0,1.8,0.6,3.3,1.9,4.4\
              c1.3,1.2,3.2,1.8,5.7,1.8c2.5,0,4.4-0.6,5.7-1.8c1.2-1.1,1.8-2.6,1.8-4.4c0-1.8-0.6-3.3-1.8-4.4c-1.4-1.2-3.3-1.8-5.7-1.8\
              C922.5,708.2,920.6,708.8,919.3,710z M919.9,696.3c-1.1,0.9-1.6,2.2-1.6,3.7c0,1.5,0.5,2.8,1.4,3.8c1.1,1.1,2.9,1.7,5.3,1.7\
              c2.4,0,4.1-0.6,5.3-1.7c0.9-0.9,1.4-2.2,1.4-3.8c0-1.5-0.6-2.7-1.6-3.7c-1.2-1.1-3-1.7-5.1-1.7\
              C922.8,694.6,921.1,695.2,919.9,696.3z')
    .chapter2
      h4 赛制
      .left
        h5.left FreeCodeCamp简介
        p
          | FreeCodeCamp 是Quincy Larson创立的一个火爆全球的开源项目。
        p 它致力于帮助忙碌的人们利用零散时间来学习编程，进而帮助公益组织开发项目。
        p FreeCodeCamp 不到2年时间就获得了GitHub 排行第一的成绩，学员遍及全球上千个城市。
        p
          | FCC中文社区是基于FCC开源代码，由众多志愿者一起参与翻译、建设的
          a.green(href='https://freeCodeCamp.cn', target='_blank') 中文学习编程社区
          | 。
        p
          | 我们认为学习编程最好的方式就是实践，所以你需要花费大量时间去做
          a.green(href='#practice') 练习、项目
          | 。
        p
          | 课程内容和挑战项目都在下面，当你完成后会获得本次活动赞助方提供的
          a.green(href='#award') 精美奖品
          | 。
    .chapter1
      h5.left 比赛平台：FreeCodeCamp中文社区
      img#fcc(src='images/intro.png')
    .content
      embed(src='images/content.svg', type='image/svg+xml', codebase='http://www.adobe.com/svg/viewer/install/')
    hr
    div
      img.img(src='images/startup.png')
      a(href='https://wilddog.com')
        img.img.whitespace(src='images/zuanshi.png')
      img.img-responsive(src='images/commit.png')
      img.img-responsive(src='images/media.png')
      img.img-responsive(src='images/community.png')
    hr
    .category
      h5 关于我们
      p 猿生态开发者社区发起于2016年2月份，致力于打造一个活跃的全国性的本地开发者社群品牌，是苏州本地最为活跃的开发者社区。
      p 成立以来以每周一场的频率举办面向开发者的技术沙龙分享，至今已经举办数十场分享，覆盖数千苏州本地开发者。
      p DevEco 是 Developer Ecosystem 的缩写，一个以开发者为核心的开发者社区。
      p 主要面向开发者、设计师、创业者、大学生等互联网从业和技术学习人员，一个自由和开放的社区。
    // jQuery文件。务必在bootstrap.min.js 之前引入
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    // 最新的 Bootstrap 核心 JavaScript 文件
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/js/angular.js')
    script.
      var username = document.getElementById("username");
      var telphoneRegex = /^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
      var emailRegex = /^(\\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
      var telphone = document.getElementById("telphone");
      var email = document.getElementById("email");
      var commit= document.getElementById("commit");
      var app = angular.module('app',[]);
      app.controller('form',['$scope','$http', function($scope,$http){
      $scope.commit=function(){
      if(validator()){
      $http.post('/has-username',{username:$scope.username}).then(function(res){
      var out = res.data;
      if(out.status == 404){
      alert("用户名不存在，请先注册FCC！")
      }else{
      $http.post('/has-join',{username:$scope.username,telphone:$scope.telphone,category:$("input:checked").val()}).then(function(res){
      var out = res.data;
      if(out.status == 200){
      alert("你已报名成功，请勿重复报名！");
      }else{
      $http.post('/add-telphone',{telphone:$scope.telphone,category:$("input:checked").val()}).then(function(res){
      var out = res.data;
      if(out.status == 200){
      alert("恭喜你，报名成功！");
      }else{
      alert("提交数据有误，请重新输入！")
      }
      },function(err){
      console.log(err);
      })
      }
      },function(err){
      console.log(err);
      })
      }
      },function(err){
      console.log(err);
      })
      }
      }
      }])
      function validator(){
      if(!$("#username").val().replace(/(^s*)|(s*$)/g,'')){
      alert("用户名为空，请重新输入！")
      return false;
      }else if(!$("#telphone").val().replace(/(^s*)|(s*$)/g,'')){
      alert("手机号为空，请重新输入！")
      return false;
      }else if(!telphoneRegex.test($("#telphone").val())){
      alert("手机号错误，请重新输入！")
      return false;
      }else if(!$("input:checked").val()){
      alert("请先选组，再提交！");
      return false;
      }else{
      return true;
      }
      }
