extends ../layout
block content
  style.
    tr:nth-child(even){background-color: #FAEBD7;}
    tr:nth-child(odd){background-color: white;}
    th, td{padding:5px;text-align:center;}
  .row(ng-app='app')
    p.text-center
      | “独学而无友，则孤陋而寡闻”--出自《礼记》，意思是：如果学习中缺乏学友之间的交流切磋，就必然会导致知识狭隘，见识短浅。
    p.text-center
      所以我们开辟琅琊榜，各位可以清楚看到自己的实力在江湖中的排行，并知道可以找谁交流切磋。
    p.text-center
      如果你就是万中无一的高手，却悲哀地发现自己不在此琅琊榜中，别灰心，
      a(href='/code.html') 赶紧报名
      ，报名一旦通过，你会自动进入琅琊榜中。
    #left.col-md-4.col-sm-12.col-xs-12
      h4.text-center 专业组排行榜
      table(ng-controller='left')
        tr
          th 排名
          th 用户名
          th 头像
          th 基础分
          th 项目分
          th 总分
        tr(ng-repeat="item in items | orderBy:'-totalScore' ")
          td(ng-bind='$index+1')
          td(ng-bind='item.username')
          td
            img(ng-src='{{item.picture}}', width='64px')
          td(ng-bind='item.score')
          td(ng-bind='item.projectScore')
          td(ng-bind='item.totalScore = item.score + item.projectScore')
    #center.col-md-4.col-sm-12.col-xs-12
      h4.text-center 业余组排行榜
      table(ng-controller='center')
        tr
          th 排名
          th 用户名
          th 头像
          th 基础分
          th 项目分
          th 总分
        tr(ng-repeat="item in items | orderBy:'-totalScore' ")
          td(ng-bind='$index+1')
          td(ng-bind='item.username')
          td
            img(ng-src='{{item.picture}}', width='64px')
          td(ng-bind='item.score')
          td(ng-bind='item.projectScore')
          td(ng-bind='item.totalScore = item.score + item.projectScore')
    #right.col-md-4.col-sm-12.col-xs-12
      h4.text-center 程序媛新秀组排行榜
      table(ng-controller='right')
        tr
          th 排名
          th 用户名
          th 头像
          th 基础分
          th 项目分
          th 总分
        tr(ng-repeat="item in items | orderBy:'-totalScore' ")
          td(ng-bind='$index+1')
          td(ng-bind='item.username')
          td
            img(ng-src='{{item.picture}}', width='64px')
          td(ng-bind='item.score')
          td(ng-bind='item.projectScore')
          td(ng-bind='item.totalScore = item.score + item.projectScore')
  script.
    var project1 = ['bd7158d8c442eddfbeb5bd1f','bd7158d8c442eddfaeb5bd18','bd7158d8c242eddfaeb5bd13','bd7158d8c242eddfaeb5be13'];
    var project2 = ['bd7158d8c442eddfaeb5bd13','bd7158d8c442eddfaeb5bd10','bd7158d8c442eddfaeb5bd19','bd7158d8c442eddfaeb5bd1f'];
    var project3 = ['bd7158d8c442eddfaeb5bd17','bd7158d8c442eddfaeb5bd0f','bd7158d8c442eedfaeb5bd1c','bd7158d8c442eddfaeb5bd1c'];
    var app = angular.module('app',[]);
    app.controller('left',['$scope','$http', function($scope,$http){
      $http.get('/master').then(function(res){
        var out = res.data;
        for(var i=0;i<out.length;i++){
          for(var j=0;j<out[i].progressTimestamps.length;j++){
            if(out[i].progressTimestamps[j].hasOwnProperty('completedChallenge')){
              for(var k=0;k<4;k++){
                if(out[i].progressTimestamps[j].completedChallenge == project1[k]){
                  out[i].projectScore +=20;
                  out[i].score -=1;
                }
                if(out[i].progressTimestamps[j].completedChallenge == project2[k]){
                  out[i].projectScore +=30;
                  out[i].score -=1;
                }
                if(out[i].progressTimestamps[j].completedChallenge == project3[k]){
                  console.log(project3[k]);
                  out[i].projectScore +=40;
                  out[i].score -=1;
                }
              }
            }
          }
        }
        $scope.items = out;
      },function(err){
        console.log(err);
      })
    }]);
    app.controller('center',['$scope','$http', function($scope,$http){
      $http.get('/newer').then(function(res){
        var out = res.data;
        for(var i=0;i<out.length;i++){
          for(var j=0;j<out[i].progressTimestamps.length;j++){
            if(out[i].progressTimestamps[j].hasOwnProperty('completedChallenge')){
              for(var k=0;k<4;k++){
                if(out[i].progressTimestamps[j].completedChallenge == project1[k]){
                  out[i].projectScore +=20;
                  out[i].score -=1;
                }
                if(out[i].progressTimestamps[j].completedChallenge == project2[k]){
                  out[i].projectScore +=30;
                  out[i].score -=1;
                }
                if(out[i].progressTimestamps[j].completedChallenge == project3[k]){
                  out[i].projectScore +=40;
                  out[i].score -=1;
                }
              }
            }
          }
        }
        $scope.items = out;
      },function(err){
        console.log(err);
      })
    }])
    app.controller('right',['$scope','$http', function($scope,$http){
      $http.get('/women').then(function(res){
        var out = res.data;
        for(var i=0;i<out.length;i++){
          for(var j=0;j<out[i].progressTimestamps.length;j++){
            if(out[i].progressTimestamps[j].hasOwnProperty('completedChallenge')){
              for(var k=0;k<4;k++){
                if(out[i].progressTimestamps[j].completedChallenge == project1[k]){
                  out[i].projectScore +=20;
                  out[i].score -=1;
                }
                if(out[i].progressTimestamps[j].completedChallenge == project2[k]){
                  out[i].projectScore +=30;
                  out[i].score -=1;
                }
                if(out[i].progressTimestamps[j].completedChallenge == project3[k]){
                  out[i].projectScore +=40;
                  out[i].score -=1;
                }
              }
            }
          }
        }
        $scope.items = out;
      },function(err){
        console.log(err);
      })
    }])
