// scripts should be moved here
.row.stick-bottom
 footer
  .container
    .row
      .col-md-4.footer-about
        h2(style="text-align:left;")
          | freeCodeCamp
          img(src='/images/logo-footer.svg')
        p
          strong 苏州猿生态信息科技有限公司
        p
          a(href='http://www.miibeian.gov.cn/') 苏ICP备16029531号

      .col-md-3.mt-20
        ul
          //li
            //a(href='/email-signup') 免费注册
          li
            a(href='/about#about-us') 关于我们
          li
            a(href='/about#common-question') 常见问题(FAQs)
          li
            a(href='/academic-honesty') 学术诚信守则
      .col-md-2.mt-20
        ul
          li
            a(href='/about#contact-us') 联系我们
          li
            a(href='/privacy') 隐私策略
          li
            a(href='/code-of-conduct') 行为准则
          li
            a(href='/terms') 服务条款
      .col-md-3
        p.social-media
          strong 社交媒体
        a(href='http://github.com/freecodecampchina/freecodecamp.cn')
          i.ion-social-github.footer-icon
        a(href='http://twitch.tv/freecodecamp')
          i.ion-social-twitch.footer-icon
        a(href='mail:team@freecodecamp.cn')
          i.fa.fa-envelope-o.footer-icon
        a(href='http://www.linkedin.com/edu/school?id=166029')
          i.ion-social-linkedin.footer-icon
        a(href='http://weibo.com/FreeCodeCamp')
          i.fa.fa-weibo.footer-icon
        a(href='https://mp.weixin.qq.com/s?__biz=MzAxMjkxNTY2OQ==&mid=2247483684&idx=1&sn=6bdd884038025aa12330255a20d81d01&scene=1&srcid=0518SnCgDHGWP6JQQAWdLaJH&key=f5c31ae61525f82e8576092f748bfa57bbfd4be05c966b20c7390f756f4abd27303a08660ee93533a464f76684bd0857&ascene=0&uin=MTMzODU3OTQwMA%3D%3D&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.10.5+build(14F1713)&version=11020201&pass_ticket=AhL55zVNBJAMny%2B1IhWY2r6q%2BKV%2Bg8cCgUX05k3LWOnUJMz8SfYiLAPGoeagk9nv')
         i.fa.fa-weixin.footer-icon
        a(href='http://shang.qq.com/wpa/qunwpa?idkey=e621702321632ddcf79056f6c109ade2eccade525b77a7a16dfb730ec52664b6' target="_blank")
         i.fa.fa-qq.footer-icon
        a(href='tel:0512-62719878')
         i.fa.fa-mobile.footer-icon
script(src="/js/sidecar.v1.js" async defer)
aside.map-aside.is-collapsed
  .map-aside-action-bar
      a.map-aside-action-item.map-aside-action-pop-out(href='/map' target='_blank' aria-label='open map in new tab')
      button.map-aside-action-item.map-aside-action-collapse(aria-label='close map aside')
aside.wiki-aside.is-collapsed
  .wiki-aside-action-bar
      a.wiki-aside-action-item.wiki-aside-action-pop-out(href='/wiki' target='_blank' aria-label='open wiki in new tab')
      button.wiki-aside-action-item.wiki-aside-action-collapse(aria-label='close wiki aside')
