meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='csrf-token', content=_csrf)
title  #{title} | FreeCodeCamp中文社区
meta(name='keywords', content='FreeCodeCamp，像打魔兽一样学编程！')
link(rel="android-chrome", sizes="144x144" href="/favicons/android-chrome-144x144.png")
link(rel="android-chrome", sizes="192x192" href="/favicons/android-chrome-192x192.png")
link(rel="android-chrome", sizes="36x36" href="/favicons/android-chrome-36x36.png")
link(rel="android-chrome", sizes="48x48" href="/favicons/android-chrome-48x48.png")
link(rel="android-chrome", sizes="72x72" href="/favicons/android-chrome-72x72.png")
link(rel="android-chrome", sizes="96x96" href="/favicons/android-chrome-96x96.png")
link(rel="android-chrome-manifest", href="/favicons/android-chrome-manifest.json")
link(rel="apple-touch-icon", sizes="114x114", href="/favicons/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon", sizes="120x120", href="/favicons/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon", sizes="144x144", href="/favicons/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon", sizes="152x152", href="/favicons/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon-180x180.png")
link(rel="apple-touch-icon", sizes="57x57", href="/favicons/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon", sizes="60x60", href="/favicons/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon", sizes="72x72", href="/favicons/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon", sizes="76x76", href="/favicons/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon-precomposed", href="/favicons/apple-touch-icon-precomposed.png")
link(rel="apple-touch-icon", href="/favicons/apple-touch-icon.png")
link(rel="favicon", sizes="16x16", href="/favicons/favicon-16x16.png")
link(rel="favicon", sizes="32x32", href="/favicons/favicon-32x32.png")
link(rel="favicon", sizes="96x96", href="/favicons/favicon-96x96.png")
link(rel="mstile", sizes="144x144", href="/favicons/mstile-144x144.png")
link(rel="mstile", sizes="150x150", href="/favicons/mstile-150x150.png")
link(rel="mstile", sizes="310x310", href="/favicons/mstile-310x310.png")
link(rel="mstile", sizes="310x150", href="/favicons/mstile-310x150.png")
link(rel="mstile", sizes="70x70", href="/favicons/mstile-70x70.png")
link(rel="favicon", href="/favicons/favicon.ico")
link(rel='shortcut icon', href='/favicons/favicon.ico')
link(rel="alternate" type="application/rss+xml" title="RSS Feed for FreeCodeCamp Camper News" href="http://www.freecodecamp.com/news/feed")
