nav.navbar.navbar-default.navbar-fixed-top.nav-height
    .navbar-header
        button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            .col-xs-12
                span.hamburger-text 菜单
        a.navbar-brand(href='/')
            img.img-responsive.nav-logo(src='/images/logo-navbar.png', alt='learn to code javascript at FreeCodeCamp logo')
    .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right.hamburger-dropdown
            li
                a(href='/home') 首页
            li.hidden-xs
                a#nav-map-btn(href='#' onclick='return false') 课程
            li.visible-xs
                a(href='/map') 课程
            li
                a(href='/group' target='_blank') 同城
            li
                a(href='https://weidian.com/?userid=291045087' target='_blank') 周边
            //关闭问答BBS
                li
                    a(href='//bbs.freecodecamp.cn/' target='_blank') 问答
            li.hidden-xs
                a#nav-chat-btn(href='#' onclick="return false") 聊天室
            li.visible-xs
                a(href="//gitter.im/freecodecamp/chinese" target="_blank") 聊天室
            li
                a(href='/about') 关于
            if !user
                li
                    a(href='/login' style="color:#FF9900;") 登录/注册
                //li
                    //a(href='/email-signup' style="color:#00AC72;") 注册
            else
                li.brownie-points-nav
                  a(href='/' + user.username) [&thinsp;#{user.progressTimestamps.length}&thinsp;]
                li.hidden-xs.hidden-sm.avatar
                  a(href='/' + user.username)
                        img.profile-picture.float-right(src='#{user.picture}')
