extends layout
block content
    .text-center
        h2 Learning-by-doing
        .spacer
        .row
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                .button-spacer
                span 自学编程是一场充满艰难的旅行
                br
                span 因此一路上我们会给你加油打气
                .spacer
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_learn.svg', alt='Learn to code and learn full stack JavaScript')
                .button-spacer
                span 无尽的任务等你来挑战
                br
                span 像打魔兽一样学习编程
                .spacer
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_nonprofits.svg', alt='Empower nonprofits with code')
                .button-spacer
                span 遇到问题先搜索再求助
                br
                span 社区积极助你度过难关
                .spacer
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_portfolio.svg', alt='Build a portfolio of apps for nonprofits')
                .button-spacer
                span 一步步构建自己的作品集
                br
                span 让你面试时有充分的信心
                .spacer
        .big-break
        .big-break
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/challenges/learn-how-free-code-camp-works") 准备好了，GO!
                .button-spacer
                <!-- a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href="/nonprofits") 需要编码帮助的非盈利组织 -->
        hr
        .spacer
        h2 开启新的职业生涯
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/nsvNixW.jpg", alt="Meta's testimonial image")
                .button-spacer
                span 我是一个家庭妇女
                br
                span 通过FreeCodeCamp
                br
                span 我设计了很多简洁优雅的界面
                br
                span 这让我获得了一份网页设计师的工作
                h4 -- Meta Hirschl
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/QPpjPac.jpg", alt="Brian's testimonial image")
                .button-spacer
                span 我是一个退伍伤残老兵
                br
                span 通过FreeCodeCamp
                br
                span 我制作了很多复杂交互的UI
                br
                span 这让我获得了一份Web前端工程师的工作
                h4 --Brian Grant
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/wjlDigg.jpg", alt="Maxim Orlov's testimonial image")
                .button-spacer
                span 我是一个大叔
                br
                span 通过FreeCodeCamp
                br
                span 我开发了很多功能复杂而且稳定的API
                br
                span 这让我获得了一份Web后端工程师工作
                h4 -- Maxim Orlov
        .spacer
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href='/stories') 听听更多我们学员的心声
        .spacer
        .spacer
        hr
        .spacer
        h2 你将会学习的技能:
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Database
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git & GitHub
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='/images/react.svg')
                    h2.black-text React.js
                .col-xs-12.col-sm-6.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='/images/d3-logo.svg')
                    h2.black-text D3.js
        .spacer
        hr
        .spacer
        .col-sm-offset-1.text-left
            h2 编程学习指南
            .spacer
            ol.large-li
                li 计算机博大精深，发展方向众多，随便拎一个就够你学一辈子的了；
                li 编程语言众多，选择一门最容易入门的语言即可，JS就很适合；
                li 学习方式有很多，看书、看视频、做练习、写代码、做项目等；
                li learning by doing 实践是学习编程的重中之重；
                li 在掌握最小知识点后，就应该立刻开始实践，在实践中发现更多知识点；
                li 遇到困难先搜索，再通过社区聊天室求助，兴许遇见志同道合的好基友；
                li 注册一个GitHub账户，它会成为你的作品最好的展示地方；
                li 找一个安静的环境，把手机静音，集中注意力开始我们的互动课程吧。
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/challenges/learn-how-free-code-camp-works") 准备好了，GO!
        script.
            challengeName = 'Home'
