extends layout
block content
    .text-center
        h1.landing-heading learn by doing
        .spacer
        .row
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                p 你从来不是一个人在战斗
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_learn.svg', alt='Learn to code and learn full stack JavaScript')
                p 无尽的任务等你来挑战
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_portfolio.svg', alt='Build a portfolio of apps for nonprofits')
                p 前端后端数据库通通拿下
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_nonprofits.svg', alt='Empower nonprofits with code')
                p 社区积极反馈助你度过难关。
        .big-break
        .big-break
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") 开始代码之旅 (免费的)
                .button-spacer
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href="/nonprofits") 需要编码帮助的非盈利组织
        .spacer
        h2 应用于:
        img.img-center.img-responsive(src='/images/as-seen-on.png')
        .spacer
        hr
        .spacer
        h2 启动你的软件工程师职业生涯:
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/nsvNixW.jpg", alt="Meta's testimonial image")
                p.testimonial-copy 通过freecodecamp，我为一个非盈利组织开发了一个稳定而且功能强悍的web应用程序，这让我获得了一份不可思议的工作。
                h3 - Meta Hirschl
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/QPpjPac.jpg", alt="Brian's testimonial image")
                p.testimonial-copy freecodecamp非常适合像我这样的退伍伤残老兵接受再培训，我甚至还没完成学业就获得了一份工程师offer。
                h3 - Brian Grant
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="//i.imgur.com/wjlDigg.jpg", alt="Maxim Orlov's testimonial image")
                p.testimonial-copy 我通过freecodecamp开始编码的时候，对web开发一无所知。六个月后，我获得了我的第一份后端工程师工作。
                h3 - Maxim Orlov
        .spacer
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href='/stories') 听听更多我们学员的心声
        .spacer
        .spacer
        hr
        .spacer
        h2 你将会学习的技能:
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git & GitHub
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='/images/react.svg')
                    h2.black-text React.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='/images/d3-logo.svg')
                    h2.black-text D3.js
        .spacer
        hr
        .spacer
        .col-xs-offset-0.col-sm-offset-1.text-left.large-p
            h2 为什么你应该立刻加入我们的开源编程社区？
            .spacer
            ul.large-li
                li.ion-code &thinsp; 通过我们的社区聊天室实时获得帮助；
                li.ion-code &thinsp; 会遇到和你同一个城市的开发者；
                li.ion-code &thinsp; 在浏览器甚至是你的手机上学习如何编程；
                li.ion-code &thinsp; 通过我们集中注意力的互动课程和指南学会编程；
                li.ion-code &thinsp; 学习最先进的JavaScript全栈技术；
                li.ion-code &thinsp; 开发项目帮助非盈利组织更便捷地完成它们的使命；
                li.ion-code &thinsp; 开发大量真实有用的应用程序。
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") 开始编码(免费的！)
        script.
            challengeName = 'Home'
