extends ../layout
block content
    script.
      var challengeName = 'Email Signup'
    h2.text-center 账户注册:
    form.form-horizontal(method='POST', action='/api/users', name="signupForm")
        .row
            .col-sm-6.col-sm-offset-3
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                  input.input-lg.form-control(type='email', name='email', id='email', placeholder='邮箱', autofocus, required, autocomplete="off")
              .form-group
                  input.input-lg.form-control(type='password', name='password', id='password', placeholder='密码', required, pattern=".{8,50}", title="密码长度为8-50之间")
              .form-group
                  button.btn.btn-lg.btn-primary.btn-block(type='submit')
                    span.ion-person-add
                    | 注册
              br
              br
              br
              br
              br
              br
              br
              br
