extends ../layout

block content
  .col-sm-8.col-sm-offset-2.jumbotron
    form(action='/reset-password?access_token=#{accessToken}', method='POST')
      h1 Reset Password
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') 新密码
        input.form-control(type='password', name='password', value='', placeholder='新密码', autofocus=true)
      .form-group
        label(for='confirm') 确认密码
        input.form-control(type='password', name='confirm', value='', placeholder='确认密码')
      .form-group
        button.btn.btn-primary.btn-reset(type='submit')
          i.fa.fa-keyboard-o
          | 更改密码
      br
      br
      br
      br
      br
      br
      br
      br
